<body>

    <div class="d-flex " id="wrapper">
  
        <!-- Sidebar -->
        <app-sidebar></app-sidebar>
        <!-- /#sidebar-wrapper -->
  
      <!-- Page Content -->
      <div id="page-content-wrapper">
          
        <!-- Navbar -->
        <app-header></app-header>
        <!-- /#navbar-wrapper -->
  
        <!-- Dashboard -->
        <app-dashboard></app-dashboard>
        <!-- /#dashboard-wrapper -->

        <!-- Footer -->
        <!-- <app-footer></app-footer> -->
        <!-- /#Footer-wrapper -->
      </div>
      <!-- /#page-content-wrapper -->
  
    </div>
    <!-- /#wrapper -->
  
  </body>