@import "../../../assets/css/theme_colors";

body {
    width: 100%;
    background: $bg-back-color;
    color: $text-color;
    left: 0%;
    right: 0%;
}

#page-content-wrapper {
    width: 100% !important;
    min-height: 100vh !important;
    background: $bg-back-color;
    color: $text-color;
}