<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h6>Basic Project Information</h6>
        </div>
        <div class="card-body">
          <form class="workpackage" [formGroup]="projectForm">
            <label class="text-color">Posted by ( Employer ID ):</label><br>
            <p>{{employerId}}
              <button (click)="onProfileView()" class="btn viewprofile">View Profile</button>
            </p>
            <hr>
            <label class="text-color">Posted Date :</label><br>
            <p>{{todayDate}}</p>
            <hr>
            <label class="text-color">Do you require reviewer?</label><br>
            <input type="checkbox" formControlName="yes_reviewer" (change)="isReviewer()" [value]="true">Yes
            <hr>
          </form>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <h6>Project Details </h6>
        </div>
        <div class="card-body">
          <form class="workpackage" [formGroup]="projectForm">
            <div class="row">
              <div class="col-6">
                <div class="form-group form-input">
                  <input type="text" formControlName="proj_name" id="proj_name" value="" required />
                  <label for="proj_desc" class="form-label">Project Name</label>
                  <div
                    *ngIf="projectForm.controls['proj_name'].invalid && (projectForm.controls['proj_name'].dirty || projectForm.controls['proj_name'].touched)"
                    class="text-danger error-msg">
                    <div *ngIf="projectForm.controls['proj_name'].errors.required">
                      Project Name is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group form-input">
                  <select class="formStyle" formControlName="complexity" id="complexity">
                    <option disabled value="">Select Complexity</option>
                    <option id="option_txt" *ngFor="let complexity of complexityArr" [value]="complexity">
                      {{complexity}}</option>
                  </select>
                  <div
                    *ngIf="projectForm.controls['complexity'].invalid && (projectForm.controls['complexity'].dirty || projectForm.controls['complexity'].touched)"
                    class="text-danger error-msg">
                    <div *ngIf="projectForm.controls['complexity'].errors.required">
                      Complexity Level is required.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group form-input">
              <textarea type="text" formControlName="proj_desc" id="proj_desc" value="" required></textarea>
              <label for="proj_desc" class="form-label">Project Description</label>
              <div
                *ngIf="projectForm.controls['proj_desc'].invalid && (projectForm.controls['proj_desc'].dirty || projectForm.controls['proj_desc'].touched)"
                class="text-danger error-msg">
                <div *ngIf="projectForm.controls['proj_desc'].errors.required">
                  Project Description is required.
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-8">
                <div class="row">
                  <span class="setright ">Duration :</span>
                  <div class="col-12">
                    <div class="row">
                      <div class="col-4">
                        <div class="form-group form-input">
                          <input type="text" formControlName="durationYears" value="" required />
                          <label for="durationYears" class="form-label">Years</label>
                          <div
                            *ngIf="projectForm.controls['durationYears'].invalid && (projectForm.controls['durationYears'].dirty || projectForm.controls['durationYears'].touched)"
                            class="text-danger error-msg">
                            <div *ngIf="projectForm.controls['durationYears'].errors.required">
                              Enter no. of years.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group form-input">
                          <input type="text" formControlName="durationMonths" value="" required />
                          <label for="duration" class="form-label">Months</label>
                          <div
                            *ngIf="projectForm.controls['durationMonths'].invalid && (projectForm.controls['durationMonths'].dirty || projectForm.controls['durationMonths'].touched)"
                            class="text-danger error-msg">
                            <div *ngIf="projectForm.controls['durationMonths'].errors.required">
                              Enter no. of months.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group form-input">
                          <input type="text" formControlName="durationDays" value="" required />
                          <label for="durationDays" class="form-label">Days</label>
                          <div
                            *ngIf="projectForm.controls['durationDays'].invalid && (projectForm.controls['durationDays'].dirty || projectForm.controls['durationDays'].touched)"
                            class="text-danger error-msg">
                            <div *ngIf="projectForm.controls['durationDays'].errors.required">
                              Enter no. of days.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group form-input settop">
                  <input type=text [owlDateTimeTrigger]="dt3" formControlName="proj_start_date" id="datePicker3 "
                    placeholder="Estimated Start Date" [owlDateTime]="dt3">
                  <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                  <div
                    *ngIf="projectForm.controls['proj_start_date'].invalid && (projectForm.controls['proj_start_date'].dirty || projectForm.controls['proj_start_date'].touched)"
                    class="text-danger error-msg">
                    <div *ngIf="projectForm.controls['proj_start_date'].errors.required">
                      Select Starting date.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-5">
                <div class="row">
                  <div class="col-6">
                    <div class="form-group form-input">
                      <input type="text" formControlName="budgetAmt" id="budgetAmt" value="" required />
                      <label for="budgetAmt" class="form-label">Budget</label>

                      <div
                        *ngIf="projectForm.controls['budgetAmt'].invalid && (projectForm.controls['budgetAmt'].dirty || projectForm.controls['budgetAmt'].touched)"
                        class="text-danger error-msg">
                        <div *ngIf="projectForm.controls['budgetAmt'].errors.required">
                          Budget is required.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group form-input">
                      <select formControlName="budgetCurrencyCode" id="currency">
                        <option disabled value="">Currency</option>
                        <option id="option_txt" *ngFor="let currency of currencyArr" [value]="currency">{{currency}}
                        </option>
                      </select>

                      <div
                        *ngIf="projectForm.controls['budgetCurrencyCode'].invalid && (projectForm.controls['budgetCurrencyCode'].dirty || projectForm.controls['budgetCurrencyCode'].touched)"
                        class="text-danger error-msg">
                        <div *ngIf="projectForm.controls['budgetCurrencyCode'].errors.required">
                          Currency is required.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-7">
                <div class="row">
                  <div class="col-4">
                    <div class="form-group form-input">
                      <input type="text" formControlName="estimatedCost" id="estimatedCost" value="" required />
                      <label for="estimatedCost" class="form-label">Estimated Cost</label>

                      <div
                        *ngIf="projectForm.controls['estimatedCost'].invalid && (projectForm.controls['estimatedCost'].dirty || projectForm.controls['estimatedCost'].touched)"
                        class="text-danger error-msg">
                        <div *ngIf="projectForm.controls['estimatedCost'].errors.required">
                          Estimated cost is required.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                      <div class="form-group form-input">
                          <select formControlName="budgetCurrencyCode" id="currency">
                            <option disabled value="">Currency</option>
                            <option id="option_txt" *ngFor="let currency of currencyArr" [value]="currency">{{currency}}
                            </option>
                          </select>
    
                          <div
                            *ngIf="projectForm.controls['budgetCurrencyCode'].invalid && (projectForm.controls['budgetCurrencyCode'].dirty || projectForm.controls['budgetCurrencyCode'].touched)"
                            class="text-danger error-msg">
                            <div *ngIf="projectForm.controls['budgetCurrencyCode'].errors.required">
                              Currency is required.
                            </div>
                          </div>
                        </div>
                  </div>
                  <div class="col-4">
                    <button class="btn viewprofile1">Calculate</button>
                  </div>
                </div>
              </div>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
      <div class="card-header">
          <h6>Skill Details </h6>
        </div>
      <div class="card-body">
          <div class="row">
              <div class="col-12">
                  <form class="table-responsive" [formGroup]="skillForm">
                     
                              <table class="table table-dark  table-bordered worktable">
                                  <thead>
                                      <tr>
                                        <th>Domain</th>
                                        <th class="setwidth">Skill</th>
                                        <th class="setwidth">Expertise</th>
                                        <th class="setwidth">Availability</th>
                                        <th>No. of team members</th>
                                        <th>Country</th>
                                        <th>Rate/hour</th>
                                        <th class="setwidth1">Avg. Rate/hour</th>
                                        <th>Currency</th>
                                        <th>Start Date </th>
                                        <th>End Date</th>
                                        <th  class="noborder">                              
                                          <button type="button" class="btn increment" (click)="addSkill()">+</button>
                                        </th>  
                                      </tr>
                                    </thead>

                                    <tbody formArrayName="skillDetails">
                                        <tr *ngFor="let item of skillDetailsArr.controls; let i=index" [formGroupName]="i">
                                          <td scope="row">
                                            <select formControlName="domainId" id="domain" (change)="selectSkills($event.target.value)">
                                              <option disabled value="">Select Domain</option>
                                              <option id="domain_option" *ngFor="let allDomain of allDomainArr"
                                                [value]="allDomain.skill_cat_id">{{allDomain.skill_cat_name}}</option>
                                            </select>
                                          </td>
                      
                                          <td scope="row">
                                            <select formControlName="skill" id="skill">
                                              <option disabled value="">Select Skills</option>
                                              <option id="option_skill" *ngFor="let allSkills of allSkillsArr" [value]="allSkills.skill_id">
                                                {{allSkills.skill_name}}</option>
                                            </select>
                                          </td>
                                          <td scope="row">
                                            <select formControlName="skillLevel" id=" skillLevel">
                                              <option disabled value="">Select Level</option>
                                              <option id="option_level" *ngFor="let skillLevel of skillLevelArr" [value]="skillLevel">
                                                {{skillLevel}}</option>
                                            </select>
                                          </td>
                                          <td scope="row">
                                            <select formControlName="availability" id=" projectType">
                                              <option disabled value="">Select Proj Type</option>
                                              <option id="option_type" *ngFor="let  projectType of  projectTypeArr" [value]=" projectType">
                                                {{projectType}}</option>
                                            </select>
                                          </td>
                                          <td scope="row">
                                            <input type="text" formControlName="teamMembers" placeholder="Members">
                                          </td>
                                          <td scope="row">
                                            <select formControlName="country" id="country">
                                              <option disabled value="">Select Country</option>
                                              <option id="option_type" *ngFor="let  country of  countries" [value]="country.name">
                                                {{country.name}}</option>
                                            </select>
                      
                                          </td>
                                          <td scope="row">
                                            <input formControlName="ratePerHour" type="text" placeholder="Rate/hour">
                                          </td>
                                          <td scope="row">
                                            <div class="row">
                                                <div class="col-6">
                                                    <input formControlName="availableAvgRatePerHour" type="text" placeholder="Avg Rate">
                                                </div>
                                                <div class="col-6">
                                                    <button type="button" class="btn calbutton">Calculate</button>
                                                </div> 
                                            </div>
                                          </td>
                                          <td scope="row">
                                            <select formControlName="currencyCode" id="currency">
                                              <option disabled value="">Select Currency</option>
                                              <option id="option_txt" *ngFor="let currency of currencyArr" [value]="currency">{{currency}}
                                              </option>
                                            </select>
                      
                                          </td>
                                          <td scope="row">
                                            <input type=text [owlDateTimeTrigger]="dt1" formControlName="startDate" id="datePicker1"
                                              placeholder="Start Date" [owlDateTime]="dt1">
                                            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                                            <!-- <input type="text" formControlName="skill_start_date" >  -->
                                          </td>
                                          <td scope="row">
                                            <input type=text [owlDateTimeTrigger]="dt2" formControlName="endDate" id="datePicker2"
                                              placeholder="End Date" [owlDateTime]="dt2">
                                            <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                                            <!-- <input type="text" formControlName="skill_end_date" >  -->
                      
                                          </td>
                                          <td  class="noborder">
                                              <button type="button" class="btn increment" (click)="removeSkill(i)">-</button>
                                            </td>
                                        </tr>
                                      </tbody>
                              </table>
                           </form>
                      </div>
                  </div>
             </div>
        </div>
  <button class="btn submit-button" (click)="onSubmit()">Submit</button>

</div>