<div class="container">
    <h5 style="margin-top : 1rem; margin-bottom: 1rem;">Blockchain Project Timeline</h5>
    <div class="card addtimelinebox scroll">
        <div class="card-body content">
                <h5>Project 1  :  Website Development</h5>

            <form action="#" class="loginForm">
                <div class="py-2">

                    <!-- timeline item 1 -->
                    <div class="row">
                        
                        <!-- timeline item 1 left dot -->
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <!-- timeline item 1 event content -->
                        <div class="col py-2">
                            <div class="card">
                                <div class="card-body">
                                    <div class="float-right">18 Jan 2019 7:00 AM</div>
                                    <h5 class="card-title ">Project posted by "Kryptominds" for $600</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/row-->
                    <!-- timeline item 2 -->
                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card border-block shadow">
                                <div class="card-body">
                                    <div class="float-right ">19 Jan 2019 8:30 AM</div>
                                    <h5 class="card-title ">Project awarded to "Jyoti Pawar"</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">20 Jan 2019 12:30 PM</div>
                                    <h5 class="card-title ">Smart contract deployed</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">21 Jan 2019 04:30 PM</div>
                                    <h5 class="card-title ">Project started</h5>
                                  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">21 Jan 2019 05:30 PM</div>
                                    <h5 class="card-title ">Requirement document uploaded</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">21 Jan 2019 01:30 PM</div>
                                    <h5 class="card-title ">Milestones set </h5>
                                  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">22 Jan 2019 01:30 PM</div>
                                    <h5 class="card-title ">Chat history uploaded  </h5>
                                    

                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">28 Jan 2019 01:30 PM</div>
                                    <h5 class="card-title ">Deliverable 1 uploaded</h5>
                                   

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">29 Jan 2019 09:30 PM</div>
                                    <h5 class="card-title ">Deliverable 1 approved by Reviewer </h5>
                                    
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">29 Jan 2019 01:30 PM</div>
                                    <h5 class="card-title ">Deliverable 1 approved by Kryptominds</h5>
                                   

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">05 Feb 2019 01:30 PM</div>
                                    <h5 class="card-title ">Payment made by Kryptominds's account xxx to Jyoti Pawar’s account xxx of $300 </h5>
                                    

                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="row">
                            <div class="col-auto text-center flex-column d-none d-sm-flex">
                                <div class="row h-50">
                                    <div class="col border-right">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                                <h5 class="m-2">
                                    <span class="badge badge-pill bg-success">&nbsp;</span>
                                </h5>
                                <div class="row h-50">
                                    <div class="col border-right">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                            </div>
                            <div class="col py-2">
                                <div class="card  shadow">
                                    <div class="card-body">
                                        <div class="float-right ">06 Feb 2019 01:30 PM</div>
                                        <h5 class="card-title ">Deliverable 2 uploaded</h5>
                                       
    
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-auto text-center flex-column d-none d-sm-flex">
                                <div class="row h-50">
                                    <div class="col border-right">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                                <h5 class="m-2">
                                    <span class="badge badge-pill bg-success">&nbsp;</span>
                                </h5>
                                <div class="row h-50">
                                    <div class="col border-right">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                            </div>
                            <div class="col py-2">
                                <div class="card  shadow">
                                    <div class="card-body">
                                        <div class="float-right ">07 Feb 2019 09:30 PM</div>
                                        <h5 class="card-title ">Deliverable 2 approved by Reviewer </h5>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
    
    
                        <div class="row">
                            <div class="col-auto text-center flex-column d-none d-sm-flex">
                                <div class="row h-50">
                                    <div class="col border-right">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                                <h5 class="m-2">
                                    <span class="badge badge-pill bg-success">&nbsp;</span>
                                </h5>
                                <div class="row h-50">
                                    <div class="col border-right">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                            </div>
                            <div class="col py-2">
                                <div class="card  shadow">
                                    <div class="card-body">
                                        <div class="float-right ">08 Feb 2019 01:30 PM</div>
                                        <h5 class="card-title ">Deliverable 2 approved by Kryptominds</h5>
                                       
    
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                                <div class="col-auto text-center flex-column d-none d-sm-flex">
                                    <div class="row h-50">
                                        <div class="col border-right">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                    <h5 class="m-2">
                                        <span class="badge badge-pill bg-success">&nbsp;</span>
                                    </h5>
                                    <div class="row h-50">
                                        <div class="col border-right">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="col py-2">
                                    <div class="card  shadow">
                                        <div class="card-body">
                                            <div class="float-right ">15 Feb 2019 01:30 PM</div>
                                            <h5 class="card-title ">Payment made by Kryptominds's account xxx to Jyoti Pawar’s account xxx of $300 </h5>
                                            
        
                                        </div>
                                    </div>
                                </div>
                            </div>

<div class="row">
<div class="col-auto text-center flex-column d-none d-sm-flex">
<div class="row h-50">
<div class="col border-right">&nbsp;</div>
<div class="col">&nbsp;</div>
</div>
<h5 class="m-2">
<span class="badge badge-pill bg-success">&nbsp;</span>
</h5>
<div class="row h-50">
<div class="col border-right">&nbsp;</div>
<div class="col">&nbsp;</div>
</div>
</div>
<div class="col py-2">
<div class="card  shadow">
<div class="card-body">
    <div class="float-right ">15 Feb 2019 01:30 PM</div>
    <h5 class="card-title ">Ratings by Kryptominds for Jyoti Pawar: 4* uploaded </h5>
   

</div>
</div>
</div>
</div>

<div class="row">
<div class="col-auto text-center flex-column d-none d-sm-flex">
<div class="row h-50">
    <div class="col border-right">&nbsp;</div>
    <div class="col">&nbsp;</div>
</div>
<h5 class="m-2">
    <span class="badge badge-pill bg-success">&nbsp;</span>
</h5>
<div class="row h-50">
    <div class="col border-right">&nbsp;</div>
    <div class="col">&nbsp;</div>
</div>
</div>
<div class="col py-2">
<div class="card  shadow">
    <div class="card-body">
        <div class="float-right ">15 Feb 2019 01:30 PM</div>
        <h5 class="card-title ">Reviews by Kryptominds for Jyoti Pawar : "Ontime delivery, meets requirements, pace could be improved." uploaded </h5>
     
    </div>
</div>
</div>
</div>

<div class="row">
<div class="col-auto text-center flex-column d-none d-sm-flex">
    <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
    </div>
    <h5 class="m-2">
        <span class="badge badge-pill bg-success">&nbsp;</span>
    </h5>
    <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
    </div>
</div>
<div class="col py-2">
    <div class="card  shadow">
        <div class="card-body">
            <div class="float-right ">16 Feb 2019 01:30 PM</div>
            <h5 class="card-title ">Ratings by Jyoti Pawar for Kryptominds: 5* uploaded</h5>
            

        </div>
    </div>
</div>
</div>


<div class="row">
    <div class="col-auto text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
            <span class="badge badge-pill bg-success">&nbsp;</span>
        </h5>
        <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
    </div>
    <div class="col py-2">
        <div class="card  shadow">
            <div class="card-body">
                <div class="float-right ">16 Feb 2019 01:30 PM</div>
                <h5 class="card-title ">Reviews by Jyoti Pawar for Kryptominds : "Clarity of requirements, good experience to work with, good attitude, discussions have been smooth." uploaded </h5>
               
            </div>
        </div>
    </div>
</div>

<div class="row">
        <div class="col-auto text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <span class="badge badge-pill bg-success">&nbsp;</span>
            </h5>
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <div class="col py-2">
            <div class="card  shadow">
                <div class="card-body">
                    <div class="float-right ">17 Feb 2019 01:30 PM</div>
                    <h5 class="card-title ">Ratings by Reviewer : 5* for Kryptominds uploaded  </h5>
                    

                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-auto text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="badge badge-pill bg-success">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <div class="col py-2">
                <div class="card  shadow">
                    <div class="card-body">
                        <div class="float-right ">17 Feb 2019 01:30 PM</div>
                        <h5 class="card-title ">Reviews by Reviewer : "Has been very professional, clarity of requirements." for Kryptominds uploaded </h5>
                       
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
                <div class="col-auto text-center flex-column d-none d-sm-flex">
                    <div class="row h-50">
                        <div class="col border-right">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                    <h5 class="m-2">
                        <span class="badge badge-pill bg-success">&nbsp;</span>
                    </h5>
                    <div class="row h-50">
                        <div class="col border-right">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                </div>
                <div class="col py-2">
                    <div class="card  shadow">
                        <div class="card-body">
                            <div class="float-right ">17 Feb 2019 01:30 PM</div>
                            <h5 class="card-title ">Ratings by Reviewer : 5* for Jyoti Pawar uploaded </h5>
                            

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <h5 class="m-2">
                            <span class="badge badge-pill bg-success">&nbsp;</span>
                        </h5>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card  shadow">
                            <div class="card-body">
                                <div class="float-right ">17 Feb 2019 01:30 PM</div>
                                <h5 class="card-title ">Reviews by Reviewer : "Good communication, sound technical knowladge, very professional." for Jyoti Pawar uploaded  </h5>
                                

                            </div>
                        </div>
                    </div>
                </div>
                                            
                <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">18 Feb 2019 01:30 PM</div>
                                    <h5 class="card-title ">Project closed </h5>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <!--container-->
                <hr>
            </form>
        </div>
    </div>
</div>