<div class="container">
    <div class="card addtimelinebox scroll">
        <div class="card-header">
            <label class="tlabel">
                <h4> PROJECT BLOCKCHAIN TIMELINE </h4>
            </label>
        </div>
        <div class="card-body content">
            <form action="#" class="loginForm">
                <div class="py-2">
                    <!-- timeline item 1 -->
                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card border-block shadow">
                                <div class="card-body">
                                    <div class="float-right ">Tue, Jan 10th 2019 8:30 AM</div>
                                    <h5 class="card-title ">Congratulations</h5>
                                    <h5 class="card-title ">1st Project Awarded by " kryptominds Private Limited "
                                    </h5>
                                    <pre class="card-text"> <h6>Project Title : Website Designing </h6><br><br>  </pre>
                                    <button class="btn btn-sm btn-outline-secondary" type="button"
                                        data-target="#t3_details" data-toggle="collapse">Show Details ▼</button>
                                    <div class="collapse border" id="t3_details">
                                        <div class="p-2 text-monospace">
                                            <div>info</div>
                                            <a href="" class="btnclose">close</a><br><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/row-->
                    <!-- timeline item 2 -->
                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card border-block shadow">
                                <div class="card-body">
                                    <div class="float-right ">Tue, Jan 10th 2019 8:30 AM</div>
                                    <h5 class="card-title ">1st Milestone is set</h5>
                                    <pre class="card-text">
                                    <h6>Related to : Website Designing for Kryptominds  </h6><br>
                                    <h6>Starting Date : Tue, Jan 10th 2019 8:30 AM  </h6><br>
                                    <h6>Completion Date : Tue, Jan 10th 2019 8:30 AM  </h6>
                                    <br><br>  </pre>
                                    <button class="btn btn-sm btn-outline-secondary" type="button"
                                        data-target="#t3_details" data-toggle="collapse">Show Details ▼</button>
                                    <div class="collapse border" id="t3_details">
                                        <div class="p-2 text-monospace">
                                            <div>info</div>
                                            <a href="" class="btnclose">close</a><br><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">From : April 1,2019<br>
                                        To : April 19,2019</div>
                                    <h5 class="card-title ">1st Milestone Completed </h5>
                                    <pre class="card-text">
                                          <h6> Sub : Web-Designing </h6>
                                       
                                    </pre>
                                    <button class="btn btn-sm btn-outline-secondary" type="button"
                                        data-target="#t2_details" data-toggle="collapse">Project Details ▼</button>
                                    <div class="collapse border" id="t2_details">
                                        <div class="p-2 text-monospace">
                                            <div>
                                                <h6 class="text-light"> Milestone Details </h6>
                                            </div>
                                            <h6 class="text-info">Milestone 1 : </h6><br>
                                            <h6>Related to : Work</h6><br>
                                            <h6>Planed Date : Apr 08,2019 5:30 PM</h6><br>
                                            <h6>Achieved Date : Apr 09,2019 9:00 PM</h6><br>
                                            <h6>Other Details : Lorem ipsum dolor, sit amet consectetur adipisicing
                                                elit.</h6><br>
                                        </div>
                                        <a href="" class="btnclose">close</a><br><br>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">From : April 1,2019<br>
                                        To : April 19,2019</div>
                                    <h5 class="card-title ">Payment</h5>
                                    <pre class="card-text">

                                                <h6> Sub : Android App Development </h6>
                                               
                                        </pre>
                                    <button class="btn btn-sm btn-outline-secondary" type="button"
                                        data-target="#t4_details" data-toggle="collapse">Show Details ▼</button>
                                    <div class="collapse border" id="t4_details">
                                        <div class="p-2 text-monospace">
                                            <div>Milestone Details : </div>
                                            <a href="" class="btnclose">close</a><br><br>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">From : April 1,2019<br>
                                        To : April 19,2019</div>
                                    <h5 class="card-title ">Web Designing for Kryptominds Private Limited</h5>
                                    <pre class="card-text">
                                                  <h6> Sub : Web-Designing </h6>
                                               
                                            </pre>
                                    <button class="btn btn-sm btn-outline-secondary" type="button"
                                        data-target="#t5_details" data-toggle="collapse">Project Details ▼</button>
                                    <div class="collapse border" id="t5_details">
                                        <div class="p-2 text-monospace">
                                            <div>
                                                <h6> Milestone Details </h6>
                                            </div>
                                            <h6 class="text-info">Milestone 1 : </h6><br>
                                            <h6>Planned Date : </h6>
                                            <a href="#div_t5_details" class="btnclose">close</a><br><br>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!--container-->

                <hr>

            </form>

        </div>
    </div>
</div>