<div class="container">
    <h5 style="margin-top : 1rem; margin-bottom: 1rem;">Blockchain Project Timeline</h5>
    <div class="card addtimelinebox scroll">
        <div class="card-body content">
            <form action="#" class="loginForm">

                <div class="py-2">

                    <!-- timeline item 1 -->
                    <div class="row">
                        <!-- timeline item 1 left dot -->
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <!-- timeline item 1 event content -->
                        <div class="col py-2">
                            <div class="card">
                                <div class="card-body">
                                    <div class="float-right">09 Jan 2019 7:00 AM</div>
                                    <h5 class="card-title ">Project posted by "Kryptominds" for $600</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/row-->
                    <!-- timeline item 2 -->
                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card border-block shadow">
                                <div class="card-body">
                                    <div class="float-right ">10 Jan 2019 8:30 AM</div>
                                    <h5 class="card-title ">Project awarded to "Jyoti Pawar"</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">10 Jan 2019 12:30 PM</div>
                                    <h5 class="card-title ">Smart contract deployed</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">10 Jan 2019 04:30 PM</div>
                                    <h5 class="card-title ">Project started</h5>
                                  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">10 Jan 2019 05:30 PM</div>
                                    <h5 class="card-title ">Requirement document uploaded</h5>
                                
                                

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">12 Jan 2019 01:30 PM</div>
                                    <h5 class="card-title ">Milestones set </h5>
                                  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">12 Jan 2019 01:30 PM</div>
                                    <h5 class="card-title ">Chat history uploaded  </h5>
                                    

                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">12 Jan 2019 01:30 PM</div>
                                    <h5 class="card-title ">Deliverable 1 uploaded</h5>
                                   

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">14 Jan 2019 09:30 PM</div>
                                    <h5 class="card-title ">Deliverable 1 approved by reviewer </h5>
                                    
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">12 Jan 2019 01:30 PM</div>
                                    <h5 class="card-title ">Deliverable 1 approved by employer</h5>
                                   

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">12 Jan 2019 01:30 PM</div>
                                    <h5 class="card-title ">Payment made by employer account xxx to freelancer’s account xxx of $300 </h5>
                                    

                                </div>
                            </div>
                        </div>
                    </div>

<div class="row">
<div class="col-auto text-center flex-column d-none d-sm-flex">
<div class="row h-50">
<div class="col border-right">&nbsp;</div>
<div class="col">&nbsp;</div>
</div>
<h5 class="m-2">
<span class="badge badge-pill bg-success">&nbsp;</span>
</h5>
<div class="row h-50">
<div class="col border-right">&nbsp;</div>
<div class="col">&nbsp;</div>
</div>
</div>
<div class="col py-2">
<div class="card  shadow">
<div class="card-body">
    <div class="float-right ">12 Jan 2019 01:30 PM</div>
    <h5 class="card-title ">Ratings by employer 4* uploaded </h5>
   

</div>
</div>
</div>
</div>

<div class="row">
<div class="col-auto text-center flex-column d-none d-sm-flex">
<div class="row h-50">
    <div class="col border-right">&nbsp;</div>
    <div class="col">&nbsp;</div>
</div>
<h5 class="m-2">
    <span class="badge badge-pill bg-success">&nbsp;</span>
</h5>
<div class="row h-50">
    <div class="col border-right">&nbsp;</div>
    <div class="col">&nbsp;</div>
</div>
</div>
<div class="col py-2">
<div class="card  shadow">
    <div class="card-body">
        <div class="float-right ">12 Jan 2019 01:30 PM</div>
        <h5 class="card-title ">Reviews by employer …description… uploaded </h5>
     
    </div>
</div>
</div>
</div>

<div class="row">
<div class="col-auto text-center flex-column d-none d-sm-flex">
    <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
    </div>
    <h5 class="m-2">
        <span class="badge badge-pill bg-success">&nbsp;</span>
    </h5>
    <div class="row h-50">
        <div class="col border-right">&nbsp;</div>
        <div class="col">&nbsp;</div>
    </div>
</div>
<div class="col py-2">
    <div class="card  shadow">
        <div class="card-body">
            <div class="float-right ">12 Jan 2019 01:30 PM</div>
            <h5 class="card-title ">Ratings by freelancer 5* uploaded</h5>
            

        </div>
    </div>
</div>
</div>


<div class="row">
    <div class="col-auto text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
            <span class="badge badge-pill bg-success">&nbsp;</span>
        </h5>
        <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
    </div>
    <div class="col py-2">
        <div class="card  shadow">
            <div class="card-body">
                <div class="float-right ">12 Jan 2019 01:30 PM</div>
                <h5 class="card-title ">Reviews by freelancer …description… uploaded </h5>
               
            </div>
        </div>
    </div>
</div>

<div class="row">
        <div class="col-auto text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <span class="badge badge-pill bg-success">&nbsp;</span>
            </h5>
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <div class="col py-2">
            <div class="card  shadow">
                <div class="card-body">
                    <div class="float-right ">12 Jan 2019 01:30 PM</div>
                    <h5 class="card-title ">Ratings by reviewer 5* for employer uploaded  </h5>
                    

                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-auto text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="badge badge-pill bg-success">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <div class="col py-2">
                <div class="card  shadow">
                    <div class="card-body">
                        <div class="float-right ">12 Jan 2019 01:30 PM</div>
                        <h5 class="card-title ">Reviews by reviewer ..description.. for employer uploaded </h5>
                       
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
                <div class="col-auto text-center flex-column d-none d-sm-flex">
                    <div class="row h-50">
                        <div class="col border-right">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                    <h5 class="m-2">
                        <span class="badge badge-pill bg-success">&nbsp;</span>
                    </h5>
                    <div class="row h-50">
                        <div class="col border-right">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                </div>
                <div class="col py-2">
                    <div class="card  shadow">
                        <div class="card-body">
                            <div class="float-right ">12 Jan 2019 01:30 PM</div>
                            <h5 class="card-title ">Ratings by reviewer 5* for freelancer uploaded </h5>
                            

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <h5 class="m-2">
                            <span class="badge badge-pill bg-success">&nbsp;</span>
                        </h5>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card  shadow">
                            <div class="card-body">
                                <div class="float-right ">12 Jan 2019 01:30 PM</div>
                                <h5 class="card-title ">Reviews by reviewer ..description.. for freelancer uploaded  </h5>
                                

                            </div>
                        </div>
                    </div>
                </div>
                                            
                <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right ">12 Jan 2019 01:30 PM</div>
                                    <h5 class="card-title ">Project closed </h5>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <!--container-->
                <hr>
            </form>
        </div>
    </div>
</div>