<div class="container-fluid">
    <div class="row p-2" #viewprofileemployer>
        <div class="col-12">
            <div class="card">
                <div class="card-header ">
                    <h6>View Profile</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="withvideo">
                                <div class="overlay">
                                    <video playsinline="playsinline" autoplay="autoplay" id="myvideo" muted="muted"
                                        loop="loop">
                                        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4"
                                            type="video/mp4">
                                    </video>
                                </div>
                                <div class="container h-100">
                                    <div class="d-flex h-100 text-center align-items-center">
                                        <div class="w-100 text-white">
                                            <img src="../../../../../../assets/images/bhushan.png">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="col-12">
                            <a class="btn btnBlue float-right" (click)="editProfile()">Edit Profile</a>
                        </div>
                    </div>

                    <form>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th>Name: </th>
                                                <td>{{employerDetailsArr.companyName}}</td>
                                            </tr>
                                            <tr>
                                                <th>Email: </th>
                                                <td>{{employerDetailsArr.emailId}}</td>
                                            </tr>
                                            <tr>
                                                <th>Bio: </th>
                                                <td>
                                                    <p>
                                                        Experienced and Innovative Technologist. <br>
                                                        Expertise in Product Development. <br>
                                                        Expertise in Agile Project Management.<br>
                                                        Deep understanding of Blockchain and DLTs.
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Address: </th>
                                                <td>
                                                    <li>Address Line 1 : {{employerDetailsArr.addressOne}}</li>
                                                    <li>Address Line 2 : {{employerDetailsArr.addressTwo}}</li>
                                                    <li>City : {{employerDetailsArr.masterCity.cityName}}</li> 
                                                    <li>State: {{employerDetailsArr.masterState.stateName}}</li>
                                                    <li>Country: {{employerDetailsArr.masterCountry.countryName}}</li>
                                                    <li>Postal Code : {{employerDetailsArr.zipCode}}</li>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Company Profile:
                                                </th>
                                                <td>
                                                    {{employerDetailsArr.companyProfile}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Company Representative: </th>
                                                <td>
                                                    {{employerDetailsArr.companyRepresentative}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Business Category: </th>
                                                <td>
                                                    {{employerDetailsArr.typeOfBusiness}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Documents: </th>
                                                <table>
                                                    <tr>
                                                        <th class="padding-none">Document Type</th>
                                                        <th class="padding-none">Document Name</th>
                                                        <th class="padding-none">Download</th>
                                                    </tr>
                                                    <tbody *ngFor="let document of employerFileArr; let i=index">
                                                        <tr>
                                                            <td width="30%">{{document.masterDocumentType.documentTypeName}}</td>
                                                            <td width="60%">{{ document.documentUrl }}</td>
                                                            <td width="30%"><a style="color:#1051dd; font-size: 1rem;"
                                                                    (click)="downloadFile(document.documentUrl)"><i
                                                                        class="fa fa-download" aria-hidden="true"></i>
                                                                </a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="viewprofileemployer">
    </ngx-loading>
</div>