<div class="container-fluid">
    <div class="row p-2" #viewprofileemployer>
        <div class="col-12">
            <div class="card">
                <div class="card-header ">
                    <h6>View Profile</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 text-center">

                            <div class="withvideo">
                                <div class="overlay">
                                    <video playsinline="playsinline" autoplay="autoplay" id="myvideo" muted="muted"
                                        loop="loop">
                                        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4"
                                            type="video/mp4">
                                    </video>
                                </div>
                                <div class="container h-100">
                                    <div class="d-flex h-100 text-center align-items-center">
                                        <div class="w-100 text-white">
                                            <img src="assets/images/jyotipawar.jpg">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="col-12">
                            <a class="btn btnBlue float-right" (click)="editProfile()">Edit Profile</a>
                        </div>
                    </div>

                    <form>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th width="50%">Name: </th>
                                                <td>
                                                    {{employerDetailsArr.cmp_name}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th width="50%">Email: </th>
                                                <td>
                                                    {{emailId}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th width="50%">Address: </th>
                                                <td>
                                                    <li>{{employerDetailsArr.cmp_addr}}</li>
                                                    <li>{{employerDetailsArr.cmp_addr_2}}</li>
                                                    <li>City : {{employerDetailsArr.city}}</li>
                                                    <li>State: {{employerDetailsArr.state}}</li>
                                                    <li>Country: {{employerDetailsArr.country}}</li>
                                                    <li>Postal Code : {{employerDetailsArr.zipcode}}</li>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th width="50%">Country: </th>
                                                <td>
                                                    {{employerDetailsArr.country}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th width="50%">Company Profile:
                                                </th>
                                                <td>
                                                    {{employerDetailsArr.cpm_profile}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th width="50%">Company Representative: </th>
                                                <td>
                                                    {{employerDetailsArr.cmp_reprentative}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th width="50%">Business Category: </th>
                                                <td>
                                                    {{employerDetailsArr.business_cat}}
                                                </td>
                                            </tr>

                                            <tr>
                                                <th width="50%">Documents: </th>
                                                <td>
                                                    <div *ngFor="let document of employerFileArr; let i=index">
                                                        <hr *ngIf="i>0">
                                                        <table>
                                                            <tr>
                                                                <th width="30%">{{document.file_type}}</th>
                                                                <td width="70%">{{ document.file_name }}</td>
                                                                <td width="20%"><a style="color:#1051dd; "
                                                                        (click)="downloadFile(document.file_name)"><i
                                                                            class="fa fa-download"
                                                                            aria-hidden="true"></i>
                                                                    </a></td>
                                                            </tr>

                                                        </table>

                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="viewprofileemployer">
    </ngx-loading>
</div>