<div class="section">
    <div class="card">
        <div class="card-header">

        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-10 text-center">
                    <h3>Profile Details</h3>
                </div>
                <div class="col-2">
                    <a class="btn btnBlue" (click)="editProfile()">Edit Profile</a>
                </div>
            </div>

            <form>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th width="50%">Name:
                                        </th>
                                        <td>
                                            {{employerDetailsArr.cmp_name}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="50%">Address line 1: </th>
                                        <td>
                                            {{employerDetailsArr.cmp_addr}}{{employerDetailsArr.line_2}}
                                            {{employerDetailsArr.city}} {{employerDetailsArr.state}}
                                            {{employerDetailsArr.country}} {{employerDetailsArr.zipcode}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="50%">Address line 2: </th>
                                        <td>
                                            {{employerDetailsArr.cmp_addr_2}}{{employerDetailsArr.line_2}}
                                            {{employerDetailsArr.city}} {{employerDetailsArr.state}}
                                            {{employerDetailsArr.country}} {{employerDetailsArr.zipcode}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="50%">Company Profile:
                                        </th>
                                        <td>
                                            {{employerDetailsArr.cpm_profile}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="50%">Company Rep Details: </th>
                                        <td>
                                            {{employerDetailsArr.cmp_reprentative}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="50%">Business Category: </th>
                                        <td>
                                            {{employerDetailsArr.business_cat}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="50%">Country: </th>
                                        <td>
                                            {{employerDetailsArr.country}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width=30%>Documents</th>
                                        <td>
                                            <div *ngFor="let item of employerFileArr">
                                                <a style="color: #1051dd;" (click)="downloadFile(item)">{{ item }}</a>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>
</div>