@import "../../../../assets/css/theme_colors";

/*-----------------------------------------------------------------------
      BASIC CSS
-------------------------------------------------------------------------*/

.container {
    font: 14px "Montserrat Regular";
    background-color: $bg-back-color;
    color: $text-color;
    overflow: hidden;
    font-weight: 400;
    // margin: 1rem 5rem !important;
}

/*-----------------------------------------------------------------------
  CARD CSS
  -------------------------------------------------------------------------*/
.card {
    border-radius: 10px;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.22);
    background: $bg-front-color;
}

/*-----------------------------------------------------------------------
  FORM CSS
  -------------------------------------------------------------------------*/
pre h6 {
    color: $text-color;
}

.addtimelinebox{
  background: transparent !important; 
}