@import "../../../../assets/css/theme_colors";

h1 {
    font-size: 25px;

    @media (min-width: 768px) {
        font-size: 32px;
    }

    @media (min-width: 992px) {
        font-size: 36px;
    }

    @media (min-width: 1200px) {
        font-size: 40px;
    }
}

.container {
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 10px;
}

table {
    border: none;
    background-color: $bg-front-color;
    color: $text-color;
}

.card {
    background: $bg-front-color;
    color: $text-color;
}

.footer {
    padding-top: 20px;
}

.btn-block {
    color: $text-color;
    background: $btn-bg-color;
}