<div class="container">
    <h5 style="margin-top : 1rem; margin-bottom: 1rem;">Blockchain User Timeline</h5>
    <div class="card addtimelinebox scroll">
        <div class="card-body content">
            <form action="#" class="loginForm">

                <div class="py-2">

                    <!-- timeline item 1 -->
                    <div class="row">
                        <!-- timeline item 1 left dot -->
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <!-- timeline item 1 event content -->
                        <div class="col py-2">
                            <div class="card">
                                <div class="card-body">
                                    <div class="float-right text-muted text-muted">09 Jan 2019 7:00 AM</div>
                                    <h5 class="card-title ">Joined Konnecteum</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/row-->
                    <!-- timeline item 2 -->
                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card border-block shadow">
                                <div class="card-body">
                                    <div class="float-right text-muted text-muted ">10 Jan 2019 8:30 AM</div>
                                    <h5 class="card-title ">Background-Check initiated</h5>
                                   <button class="btn btn-sm btn-outline-secondary" type="button"
                                        data-target="#t13_details" data-toggle="collapse">Show Details ▼</button>
                                    <div class="collapse border" id="t13_details">
                                        <div class="p-2 text-monospace">
                                            <div>info</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right text-muted text-muted ">10 Jan 2019 12:30 PM</div>
                                    <h5 class="card-title ">Company establishment date – Verified</h5>
                                   
                                    <button class="btn btn-sm btn-outline-secondary" type="button"
                                        data-target="#t12_details" data-toggle="collapse">Show Details ▼</button>
                                    <div class="collapse border" id="t12_details">
                                        <div class="p-2 text-monospace">
                                            <pre
                                                class="card-text"> <h6>Project Status : Completed  <span class="dot"></span></h6><br><br>  </pre>

                                            <div>
                                                <h6 class="text-">Employer Details </h6>
                                                <a  class=" btnaccess">Give Access</a>
                                            </div> <br><br>
                                            <div>
                                                <h6 class="text-secondary"> Milestone Details </h6>
                                            </div>
                                            <h6 class="text-info">Milestone 1 : </h6><br>
                                            <h6>Related to : Work</h6><br>
                                            <h6>Planed Date : 08 Apr 2019 5:30 PM</h6><br>
                                            <h6>Achieved Date : 09 Apr 2019 9:00 PM</h6><br>
                                            <h6>Other Details : Lorem ipsum dolor, sit amet consectetur adipisicing
                                                elit.</h6><br>
                                            <br>
                                            <h6 class="text-info">Milestone 2 : </h6><br>
                                            <h6>Related to : Work</h6><br>
                                            <h6>Planed Date : 18 Apr 2019 5:30 PM</h6><br>
                                            <h6>Achieved Date : 19 Apr 2019 9:00 PM</h6><br>
                                            <h6>Other Details : Lorem ipsum dolor, sit amet consectetur adipisicing
                                                elit.</h6><br>
                                            <br>
                                            <div>
                                                <h6 class="text-secondary"> Ratings and Reviews </h6>
                                            </div>
                                            <h6 class="text-info">Rating : </h6><br><br>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <br><br>
                                            <h6 class="text-info"> Review : </h6><br>
                                            <h6> Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6><br>
                                            <br>
                                            <div>
                                                <h6 class="text-secondary"> Dispute Details </h6>
                                            </div>
                                            <h6>Any Dispute : No</h6><br>
                                            <h6>Dispute Result : -</h6><br>
                                        </div>
                                        <a  class="btnclose">Close</a><br><br>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right text-muted ">10 Jan 2019 04:30 PM</div>
                                    <h5 class="card-title ">Current Active state – Verified</h5>
                                  
                                    <button class="btn btn-sm btn-outline-secondary" type="button"
                                        data-target="#t11_details" data-toggle="collapse">Show Details ▼</button>
                                    <div class="collapse border" id="t11_details">
                                        <div class="p-2 text-monospace">
                                            <div>Milestone Details : </div>
                                            <a  class="btnclose">Close</a><br><br>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right text-muted ">10 Jan 2019 05:30 PM</div>
                                    <h5 class="card-title ">Background-Check completed</h5>
                                
                                    <button class="btn btn-sm btn-outline-secondary" type="button"
                                        data-target="#t10_details" data-toggle="collapse">Show Details ▼ </button>
                                    <div class="collapse border" id="t10_details">
                                        <div class="p-2 text-monospace">
                                            <div>
                                                <h6> Milestone Details </h6>
                                            </div>
                                            <h6 class="text-info">Milestone 1 : </h6><br>
                                            <h6>Planned Date : </h6>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right text-muted ">12 Jan 2019 01:30 PM</div>
                                    <h5 class="card-title ">Project 1 – Description started </h5>
                                    <!-- <pre class="card-text">
                                                        <h6> Sub : Web-Designing </h6>
                                                     
                                                  </pre> -->
                                    <button class="btn btn-sm btn-outline-secondary" type="button"
                                        data-target="#t9_details" data-toggle="collapse">Show Details ▼</button>
                                    <div class="collapse border" id="t9_details">
                                        <div class="p-2 text-monospace">
                                            <div>
                                                <h6> Milestone Details </h6>
                                            </div>
                                            <h6 class="text-info">Milestone 1 : </h6><br>
                                            <h6>Planned Date : </h6>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right text-muted ">12 Jan 2019 01:30 PM</div>
                                    <h5 class="card-title ">Rating : * * * * * </h5>
                                    <!-- <pre class="card-text">
                                                        <h6> Sub : Web-Designing </h6>
                                                     
                                                  </pre> -->
                                    <button class="btn btn-sm btn-outline-secondary" type="button"
                                        data-target="#t8_details" data-toggle="collapse">Show Details ▼</button>
                                    <div class="collapse border" id="t8_details">
                                        <div class="p-2 text-monospace">
                                            <div>
                                                <h6> Milestone Details </h6>
                                            </div>
                                            <h6 class="text-info">Milestone 1 : </h6><br>
                                            <h6>Planned Date : </h6>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right text-muted ">12 Jan 2019 01:30 PM</div>
                                    <h5 class="card-title ">Review description </h5>
                                    <!-- <pre class="card-text">
                                                        <h6> Sub : Web-Designing </h6>
                                                     
                                    </pre> -->
                                    <button class="btn btn-sm btn-outline-secondary" type="button"
                                        data-target="#t7_details" data-toggle="collapse">Show Details ▼</button>
                                    <div class="collapse border" id="t7_details">
                                        <div class="p-2 text-monospace">
                                            <div>
                                                <h6> Milestone Details </h6>
                                            </div>
                                            <h6 class="text-info">Milestone 1 : </h6><br>
                                            <h6>Planned Date : </h6>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right text-muted ">14 Jan 2019 09:30 PM</div>
                                    <h5 class="card-title ">Paid $500</h5>
                                    <!-- <pre class="card-text">
                                                        <h6> Sub : Web-Designing </h6>
                                                     
                                    </pre> -->
                                    <button class="btn btn-sm btn-outline-secondary" type="button"
                                        data-target="#t6_details" data-toggle="collapse">Show Details ▼</button>
                                    <div class="collapse border" id="t6_details">
                                        <div class="p-2 text-monospace">
                                            <div>
                                                <h6> Milestone Details </h6>
                                            </div>
                                            <h6 class="text-info">Milestone 1 : </h6><br>
                                            <h6>Planned Date : </h6>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right text-muted ">12 Jan 2019 01:30 PM</div>
                                    <h5 class="card-title ">Project 2 – Description started</h5>
                                    <!-- <pre class="card-text">
                                                        <h6> Sub : Web-Designing </h6>
                                                     
                                    </pre> -->
                                    <button class="btn btn-sm btn-outline-secondary" type="button"
                                        data-target="#t5_details" data-toggle="collapse">Show Details ▼</button>
                                    <div class="collapse border" id="t5_details">
                                        <div class="p-2 text-monospace">
                                            <div>
                                                <h6> Milestone Details </h6>
                                            </div>
                                            <h6 class="text-info">Milestone 1 : </h6><br>
                                            <h6>Planned Date : </h6>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto text-center flex-column d-none d-sm-flex">
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="badge badge-pill bg-success">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card  shadow">
                                <div class="card-body">
                                    <div class="float-right text-muted ">12 Jan 2019 01:30 PM</div>
                                    <h5 class="card-title ">Rating : * * * * </h5>
                                    <!-- <pre class="card-text">
                                                        <h6> Sub : Web-Designing </h6>
                                                     
                                    </pre> -->
                                    <button class="btn btn-sm btn-outline-secondary" type="button"
                                        data-target="#t3_details" data-toggle="collapse">Show Details ▼</button>
                                    <div class="collapse border" id="t3_details">
                                        <div class="p-2 text-monospace">
                                            <div>
                                                <h6> Milestone Details </h6>
                                            </div>
                                            <h6 class="text-info">Milestone 1 : </h6><br>
                                            <h6>Planned Date : </h6>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                            <div class="col-auto text-center flex-column d-none d-sm-flex">
                                <div class="row h-50">
                                    <div class="col border-right">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                                <h5 class="m-2">
                                    <span class="badge badge-pill bg-success">&nbsp;</span>
                                </h5>
                                <div class="row h-50">
                                    <div class="col border-right">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                            </div>
                            <div class="col py-2">
                                <div class="card  shadow">
                                    <div class="card-body">
                                        <div class="float-right text-muted ">12 Jan 2019 01:30 PM</div>
                                        <h5 class="card-title ">Review description </h5>
                                        <!-- <pre class="card-text">
                                                            <h6> Sub : Web-Designing </h6>
                                                         
                                        </pre> -->
                                        <button class="btn btn-sm btn-outline-secondary" type="button"
                                            data-target="#t2_details" data-toggle="collapse">Show Details ▼</button>
                                        <div class="collapse border" id="t2_details">
                                            <div class="p-2 text-monospace">
                                                <div>
                                                    <h6> Milestone Details </h6>
                                                </div>
                                                <h6 class="text-info">Milestone 1 : </h6><br>
                                                <h6>Planned Date : </h6>
                                                </div>
    
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                                <div class="col-auto text-center flex-column d-none d-sm-flex">
                                    <div class="row h-50">
                                        <div class="col border-right">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                    <h5 class="m-2">
                                        <span class="badge badge-pill bg-success">&nbsp;</span>
                                    </h5>
                                    <div class="row h-50">
                                        <div class="col border-right">&nbsp;</div>
                                        <div class="col">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="col py-2">
                                    <div class="card  shadow">
                                        <div class="card-body">
                                            <div class="float-right text-muted ">12 Jan 2019 01:30 PM</div>
                                            <h5 class="card-title ">Paid $1000 </h5>
                                            <!-- <pre class="card-text">
                                                                <h6> Sub : Web-Designing </h6>
                                                             
                                            </pre> -->
                                            <button class="btn btn-sm btn-outline-secondary" type="button"
                                                data-target="#t1_details" data-toggle="collapse">Show Details ▼</button>
                                            <div class="collapse border" id="t1_details">
                                                <div class="p-2 text-monospace">
                                                    <div>
                                                        <h6> Milestone Details </h6>
                                                    </div>
                                                    <h6 class="text-info">Milestone 1 : </h6><br>
                                                    <h6>Planned Date : </h6>
                                                        </div>
        
                                            </div>
        
                                        </div>
                                    </div>
                                </div>
                            </div>

                </div>
                  <!--container-->
                <hr>
            </form>
        </div>
    </div>
</div>