<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid me_sticky">
            <div class="row navbar-header">
                <div class="col-md-6 left-navbar">
                    <div class="col-md-3">
                        <a class="navbar-brand" href="#">
                            <img alt="Konnecteum" style="width: 50px; height: 50px;"
                                src="assets/images/konnecteum_logo.png">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <p class="title_konnecteum">KONNECTEUM</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="right-navbar">
                        <li class="button-login">
                            <a href="#" class="btn login-btn">Home</a>
                            <a href="#" class="btn login-btn">About Us</a>
                            <a href="#" class="btn login-btn">Contact Us</a>
                            <a [routerLink]="['/auth/auth/login']" class="btn login-btn">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<section id="landing_page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="welcome_box">
                    <h2>What is Konnecteum</h2>
                    <p class="lead">
                        Konnecteum is the next generation AI-blockchain enabled freelancing platform that helps to build
                        trust among freelancers and employers.
                        Every member onboarded onto the platform is verified through a background check. At Konnecteum
                        we aim to revolutionize the Freelancing and Job Markets.
                        Konnecteum plans to lead the way for a smarter future, connecting the right talent with the
                        right jobs in a trustworthy and secure way.
                        It offers transparent and fair platform with lowest possible fees.
                        Our background verification feature encourages small as well as large corporates along with
                        individual employers to find talent for niche jobs and critical work.
                        Language translation feature plans to overcome the communication issues across the globe.
                        Konnecteum plans to make the VR meetings a reality.

                    </p>
                    <a class="btn_read_more" href="#">
                        <span>Read More</span>
                    </a>
                </div><!-- end messagebox -->
            </div><!-- end col -->
            <div class="col-md-6">
                <div class="landing_image_right">
                    <img src="assets/images/freelancer.jpg" alt="freelancer">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="selction-user">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="user">
                    <img src="assets/images/freelancer.jpg" alt="">
                    <div class="figure_caption text-center">
                        <h6> Freelancer </h6>
                    </div>
                    <p class="text-left">
                        Traditionally, startups and smaller businesses hire freelancers for short-term ad hoc
                        projects that the owners and their staff don't have time to do themselves. This trend has
                        begun to change recently,as companies are integrating freelancers into their core business
                        strategies </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="user">
                    <img src="assets/images/emp.jpg" alt="">
                    <div class="figure_caption text-center">
                        <h6> Employer </h6>
                    </div>
                    <p class="text-left">An employer is an organization, institution, government entity, agency,
                        company,
                        professional services firm, nonprofit association, small business, store,
                        or individual who employs or puts to work, a person who is called an employee or a staff member.
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="user">
                    <img src="assets/images/partner.jpg" alt="">
                    <div class="figure_caption text-center">
                        <h6> Partner </h6>
                    </div>
                    <p class="text-left"> A business partnership is a specific kind of legal relationship formed by the
                        agreement between two or more individuals to carry on a business as co-owners.
                        A partnership is a business with multiple owners, each of whom has invested in the business.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>