@import "../../../assets/css/theme_colors";
//@import "../../../assets/font/neo-latina/neo-latina-demo-FFP.ttf";

.logo-font{
  font-family: 'Neo Latina';
}
#sidebar-wrapper {
  min-height: 100%;
  font-family: "Montserrat Regular";
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background: $bg-front-color;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#sidebar-wrapper .sidebar-heading img {
  width: 2.5rem;
  height: 2.5rem;
  float: left;
  margin-top: 0.5rem;
}

#sidebar-wrapper .sidebar-heading h6 {
  color: $text-color;
  font-size: 1rem;
  margin-top: 1.2rem;
  margin-left: 2.7rem;
  margin-bottom: 1.2rem;
  font-weight: 400;
  float: left;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  position: relative;
}

#sidebar-wrapper .list-group-flush .list-group-item {
  background: $bg-front-color;
  color: $text-color;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

#sidebar-wrapper .list-group-flush .list-group-item:hover,
#sidebar-wrapper .list-group-flush .list-group-item:focus {
  background: $bg-back-color;
  color: $text-color;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}