<div id="sidebar-wrapper">
    <div class="sidebar-heading text-center">
        <img src="../../../assets/images/konnecteum_logo.png" alt="Konnecteum">
        <h6>Konnecteum</h6>
    </div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-color-dark">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action bg-color-dark">Workbeanch</a>
        <a href="#" class="list-group-item list-group-item-action bg-color-dark">Timeline</a>  
        <a href="#" class="list-group-item list-group-item-action bg-color-dark">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-color-dark">Projects</a>
        <a href="#" class="list-group-item list-group-item-action bg-color-dark">Payments</a>
        <a href="#" class="list-group-item list-group-item-action bg-color-dark">Work</a>
    </div>
</div>



<!-- <li data-toggle="collapse" data-target="#service" class="collapsed">
            <a href="#" class="list-group-item list-group-item-action bg-color-dark" >Projects <span class="arrow"></span></a>
        </li>  
        <ul class="sub-menu collapse" id="service">
            <li class=">Project 1</li>
            <li class=">Project 2</li>
            <li class=">Project 3</li>
        </ul> -->