<div id="sidebar-wrapper">
        <div class="sidebar-heading text-center">
                <img src="../../../assets/images/konnecteum_logo.png" alt="Konnecteum"><br>
                <h6 class="logo-font">Konnecteum</h6>
                <!-- <div class="row">
                        <div class="col-3">
                                <img src="../../../assets/images/konnecteum_logo.png" alt="Konnecteum">
                        </div>
                        <div class="col-5">
                                <h6 class="logo-font">Konnecteum</h6>
   
                        </div>
                </div>
                -->
        </div>
        <div class="list-group list-group-flush">
                <a [routerLink]="['/feature/feature/full-layout/dashboard']"
                        class="list-group-item list-group-item-action bg-color-dark"><i class="fa fa-tachometer"
                                aria-hidden="true"></i> Dashboard</a>
                <a (click)="userRoleInfo()" class="list-group-item list-group-item-action bg-color-dark"><i
                                class="fa fa-address-book" aria-hidden="true"></i> Add Profile</a>
                <li class="list-group list-group-flush" *ngIf="isEmployer">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle list-group-item list-group-item-action bg-color-dark"><i
                                        class="fa fa-briefcase" aria-hidden="true"></i> Work Package</a>
                        <ul class="collapse list-unstyled " id="homeSubmenu">
                                <li>
                                        <a [routerLink]="['/feature/feature/full-layout/employer/emp/workpackage/workpack/add']"
                                                class="list-group-item list-group-item-action bg-color-dark"><i
                                                        class="fa fa-address-book" aria-hidden="true"></i> Add</a>
                                </li>
                                <li>
                                        <a [routerLink]="['/feature/feature/full-layout/employer/emp/workpackage/workpack/viewall']"
                                                class="list-group-item list-group-item-action bg-color-dark"><i
                                                        class="fa fa-address-book" aria-hidden="true"></i> View</a>
                                </li>
                        </ul>
                </li>
                <li class="list-group list-group-flush" *ngIf="!isEmployer">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle list-group-item list-group-item-action bg-color-dark"><i
                                        class="fa fa-briefcase" aria-hidden="true"></i> Work Package</a>
                        <ul class="collapse list-unstyled " id="homeSubmenu">
                                <li>
                                        <a [routerLink]="['/feature/feature/full-layout/independent/indp/workpackage']"
                                                class="list-group-item list-group-item-action bg-color-dark"><i
                                                        class="fa fa-address-book" aria-hidden="true"></i> View</a>
                                </li>
                        </ul>
                </li>
                <a [routerLink]="['/feature/feature/full-layout/employer/emp/proj-timeline']"
                        class="list-group-item list-group-item-action bg-color-dark"><i class="fa fa-calendar"
                                aria-hidden="true"></i> Project Timeline</a>
                <a *ngIf="isEmployer" [routerLink]="['/feature/feature/full-layout/employer/emp/block-timeline']"
                        class="list-group-item list-group-item-action bg-color-dark"><i class="fa fa-calendar"
                                aria-hidden="true"></i> User Timeline</a>
                <a *ngIf="!isEmployer" [routerLink]="['/feature/feature/full-layout/independent/indp/free-blockchain-timeline']"
                class="list-group-item list-group-item-action bg-color-dark"><i class="fa fa-calendar"
                        aria-hidden="true"></i> User Timeline</a>
                <!-- <a [routerLink]="['/feature/feature/full-layout/employer/emp/smartpayment']"
                        class="list-group-item list-group-item-action bg-color-dark"><i class="fa fa-credit-card"
                                aria-hidden="true"></i> Payments</a> -->

        </div>
</div>