<div id="sidebar-wrapper">
        <div class="sidebar-heading">
                <img src="../../../assets/images/konnecteum_logo.png" alt="Konnecteum">
                <h6>Konnecteum</h6>
        </div>
        <div class="list-group list-group-flush">
                <a [routerLink]="['/feature/feature/full-layout/dashboard']"
                        class="list-group-item list-group-item-action bg-color-dark"><i class="fa fa-tachometer"
                                aria-hidden="true"></i> Dashboard</a>
                <a [routerLink]="['/feature/feature/full-layout/employer/emp/workpackage/workpack/add']"
                        class="list-group-item list-group-item-action bg-color-dark"><i class="fa fa-briefcase"
                                aria-hidden="true"></i> Add Work Package</a>
                <a [routerLink]="['feature/feature/full-layout/independent/indp/workpackage']"
                        class="list-group-item list-group-item-action bg-color-dark"><i class="fa fa-briefcase"
                                aria-hidden="true"></i> View Work Package</a>
                <a href="#" class="list-group-item list-group-item-action bg-color-dark"><i class="fa fa-calendar"
                                aria-hidden="true"></i> Timeline</a>
                <!-- <a href="#" class="list-group-item list-group-item-action bg-color-dark"><i class="fa fa-calendar"
                                aria-hidden="true"></i> Events</a>
                <a href="#" class="list-group-item list-group-item-action bg-color-dark"><i class="fa fa-briefcase"
                                aria-hidden="true"></i> Projects</a> -->
                <a [routerLink]="['/feature/feature/full-layout/employer/emp/smartpayment']"
                        class="list-group-item list-group-item-action bg-color-dark"><i class="fa fa-credit-card"
                                aria-hidden="true"></i> Payments</a>
                <!-- <a href="#" class="list-group-item list-group-item-action bg-color-dark"><i class="fa fa-calendar"
                                aria-hidden="true"></i> Work</a> -->
        </div>
</div>



<!-- <li data-toggle="collapse" data-target="#service" class="collapsed">
            <a href="#" class="list-group-item list-group-item-action bg-color-dark" >Projects <span class="arrow"></span></a>
        </li>  
        <ul class="sub-menu collapse" id="service">
            <li class=">Project 1</li>
            <li class=">Project 2</li>
            <li class=">Project 3</li>
        </ul> -->