<div class="row">
  <div class="col-12">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button> -->

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-3 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link"><i class="fa fa-cog" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img src="../../../assets/images/irshad.jpeg" alt="Avatar">
            </a>
            <div class="dropdown-menu dropdown-menu-right  fontchange" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" (click)="userRoleInfo()" routerLinkActive="active">My
                Profile</a>
              <a class="dropdown-item">Setting</a>
              <a class="dropdown-item">Notification</a>
              <a class="dropdown-item">Colors</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="onLogout()">Logout</a>
            </div>
            <label >{{emailName}} <span>({{userRole}})</span></label>
           
            <!-- <label >( {{userRole}} )</label> -->
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>