// Default black theam of Konnecteum
$bg-back-color: #18191c !default;

// $bg-back-color: linear-gradient(180deg, #202226, #18191c);
// $text-color: #898989 !default;
$text-color: #e4e4e4 !default;
$bg-front-color: linear-gradient(20deg, #1e1f22, #26272c);
$btn-bg-color: #064d86 !default;
$danger-color: #dc3545 !default;
$blue-color: #087bda !default;
$viewproj:#7da2db;