<div class="container-fluid">
    <div class="row p-2" #addprofileemployer>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h6>PROFILE DETAILS</h6>
                </div>
                <div class="card-body">
                    <form [formGroup]="employerProfileForm">
                        <div class="row">

                            <div class="form-group form-input col"
                                [ngClass]="{'error': employerProfileForm.controls['comapany_name'].errors && !employerProfileForm.controls['comapany_name'].pristine}">
                                <input type="text" formControlName="comapany_name" autocomplete="off" id="comapany_name"
                                    required />
                                <label for="comapany_name" class="form-label">Company Name <span class="redstar"
                                        class="redstar">*</span></label>

                                <div *ngIf="submitted && formValidation.comapany_name.errors || employerProfileForm.get('comapany_name').invalid && (employerProfileForm.get('comapany_name').dirty || employerProfileForm.get('comapany_name').touched)"
                                    class="text-danger error-msg">

                                    <div *ngIf="employerProfileForm.get('comapany_name').errors.required">
                                        Company name is required.
                                    </div>
                                    <div *ngIf="employerProfileForm.get('comapany_name').errors.maxlength">
                                        Company name must be at least 25 characters long.
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-input col">
                                <input type="text" formControlName="website_addr" autocomplete="off" id="website_addr"
                                    required />
                                <label for="website_addr" class="form-label">Website Address<span class="redstar"
                                        class="redstar">*</span></label>
                                <div *ngIf="submitted && formValidation.website_addr.errors || employerProfileForm.get('website_addr').invalid && (employerProfileForm.get('website_addr').dirty || employerProfileForm.get('website_addr').touched)"
                                    class="text-danger error-msg">

                                    <div *ngIf="employerProfileForm.get('website_addr').errors.required">
                                        Website address is required.
                                    </div>
                                    <div *ngIf="employerProfileForm.get('website_addr').errors.maxlength">
                                        Website address must be at least 25 characters long.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group form-input col">
                                <input type="text" formControlName="address_line_one" autocomplete="off"
                                    id="address_line_one" required />
                                <label for="address_line_one" class="form-label">Address Line 1<span
                                        class="redstar">*</span></label>
                                <div *ngIf="submitted && formValidation.address_line_one.errors || employerProfileForm.get('address_line_one').invalid && (employerProfileForm.get('address_line_one').dirty || employerProfileForm.get('address_line_one').touched)"
                                    class="text-danger error-msg">

                                    <div *ngIf="employerProfileForm.get('address_line_one').errors.required">
                                        Address Line 1 is required.
                                    </div>
                                    <div *ngIf="employerProfileForm.get('address_line_one').errors.maxlength">
                                        Address Line 1 must be at least 25 characters long.
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-input col">
                                <input type="text" formControlName="address_line_two" autocomplete="off"
                                    id="address_line_two" required />
                                <label for="address_line_two" class="form-label">Address Line 2<span
                                        class="redstar">*</span></label>
                                <div *ngIf="submitted && formValidation.address_line_two.errors || employerProfileForm.get('address_line_two').invalid && (employerProfileForm.get('address_line_two').dirty || employerProfileForm.get('address_line_two').touched)"
                                    class="text-danger error-msg">

                                    <div *ngIf="employerProfileForm.get('address_line_two').errors.required">
                                        Address Line 2 is required.
                                    </div>
                                    <div *ngIf="employerProfileForm.get('address_line_two').errors.maxlength">
                                        Address Line 2 must be at least 25 characters long.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group form-input col">
                                <select class="formStyle" (change)="setStateListByCountryId($event.target.value)"
                                    formControlName="country" id="country" required>
                                    <!-- <option disabled value="">Country</option> -->
                                    <option *ngFor="let country of countryArr" [value]="country.countryId">{{country.countryName}}
                                    </option>
                                </select>
                                <label for="country" class="form-label">Country<span class="redstar">*</span></label>
                                <div *ngIf="submitted && formValidation.country.errors || employerProfileForm.controls['country'].invalid && (employerProfileForm.controls['country'].dirty || employerProfileForm.controls['country'].touched)"
                                    class="text-danger error-msg">
                                    <div [hidden]="!employerProfileForm.controls['country'].errors.required">Country is
                                        required.</div>
                                </div>
                            </div>
                            <div class="form-group form-input col">
                                <select class="formStyle" (change)="setCityListByStateId($event.target.value)"
                                    formControlName="state" id="state" required>
                                    <!-- <option disabled value="">State</option> -->
                                    <option *ngFor="let state of stateArrByCountryId[employerProfileForm.get('country').value]"
                                    [value]="state.stateId">{{state.stateName}}
                                    </option>
                                </select>
                                <label for="state" class="form-label">State<span class="redstar">*</span></label>
                                <div *ngIf="submitted && formValidation.state.errors || employerProfileForm.controls['state'].invalid && (employerProfileForm.controls['state'].dirty || employerProfileForm.controls['state'].touched)"
                                    class="text-danger error-msg">
                                    <div [hidden]="!employerProfileForm.controls['state'].errors.required">State is
                                        required.</div>
                                </div>
                            </div>

                            <div class="form-group form-input col">
                                <select class="formStyle" formControlName="city" id="city" required>
                                    <!-- <option disabled value="">City</option> -->
                                    <option 
                                    *ngFor="let city of cityArrByStateId[employerProfileForm.get('state').value]"
                                    [value]="city.cityId">{{city.cityName}}</option>
                                </select>
                                <label for="city" class="form-label">City<span class="redstar">*</span></label>
                                <div *ngIf="submitted && formValidation.city.errors || employerProfileForm.controls['city'].invalid && (employerProfileForm.controls['city'].dirty || employerProfileForm.controls['city'].touched)"
                                    class="text-danger error-msg">
                                    <div [hidden]="!employerProfileForm.controls['city'].errors.required">City is
                                        required.</div>
                                </div>
                            </div>
                            <div class="form-group form-input col">
                                <input type="text" formControlName="zipcode" autocomplete="off" id="postal_code"
                                    required />
                                <label for="postal_code" class="form-label">Postal code<span
                                        class="redstar">*</span></label>
                                <div *ngIf="submitted && formValidation.zipcode.errors || employerProfileForm.get('zipcode').invalid && (employerProfileForm.get('zipcode').dirty || employerProfileForm.get('zipcode').touched)"
                                    class="text-danger error-msg">

                                    <div *ngIf="employerProfileForm.get('zipcode').errors.required">
                                        Postal code is required.
                                    </div>
                                    <div *ngIf="employerProfileForm.get('zipcode').errors.pattern">
                                        Postal code must be number.
                                    </div>
                                    <div *ngIf="employerProfileForm.get('zipcode').errors.maxlength">
                                        Postal code must be at least 6 characters long.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group form-input col-6">
                                <select formControlName="business_cat" autocomplete="off" id="business_cat" required>
                                    <option disabled value=""></option>
                                    <option value="IT">IT</option>
                                    <option value="Finance">Finance</option>
                                    <option value="Banking">Banking</option>
                                    <option value="Retail">Retail</option>
                                    <option value="Others">Others</option>
                                </select>
                                <label for="business_cat" class="form-label">Business Category<span
                                        class="redstar">*</span></label>
                                <div *ngIf="submitted && formValidation.business_cat.errors || employerProfileForm.controls['business_cat'].invalid && (employerProfileForm.controls['business_cat'].dirty || employerProfileForm.controls['business_cat'].touched)"
                                    class="text-danger error-msg">
                                    <div [hidden]="!employerProfileForm.controls['business_cat'].errors.required">
                                        Business category is required.</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group form-input col">
                                <input type="text" formControlName="company_profile" autocomplete="off"
                                    id="company_profile" required />
                                <label for="company_profile" class="form-label">Company Profile<span
                                        class="redstar">*</span></label>
                                <div *ngIf="submitted && formValidation.company_profile.errors || employerProfileForm.get('company_profile').invalid && (employerProfileForm.get('company_profile').dirty || employerProfileForm.get('company_profile').touched)"
                                    class="text-danger error-msg">

                                    <div *ngIf="employerProfileForm.get('company_profile').errors.required">
                                        Company Profile is required.
                                    </div>
                                    <div *ngIf="employerProfileForm.get('company_profile').errors.maxlength">
                                        Company Profile must be at least 25 characters long.
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-input col">
                                <input type="text" formControlName="company_rep_det" autocomplete="off"
                                    id="company_rep_det" required />
                                <label for="company_rep_det" class="form-label">Company Representative
                                    Name<span class="redstar">*</span></label>
                                <div *ngIf="submitted && formValidation.company_rep_det.errors || employerProfileForm.get('company_rep_det').invalid && (employerProfileForm.get('company_rep_det').dirty || employerProfileForm.get('company_rep_det').touched)"
                                    class="text-danger error-msg">

                                    <div *ngIf="employerProfileForm.get('company_rep_det').errors.required">
                                        Company Representative is required.
                                    </div>
                                    <div *ngIf="employerProfileForm.get('company_rep_det').errors.maxlength">
                                        Company Representative must be at least 25 characters long.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div formArrayName="documents">
                            <div class="row">
                                <div class="col-11">
                                    <div *ngFor="let item of documentArr.controls; let i=index">
                                        <hr *ngIf="i>0">
                                        <div class="row" formGroupName="{{i}}">
                                            <div class="form-group form-input col-3">
                                                <select (change)="setDocTypeCatID($event.target.value,i)"
                                                    formControlName="documentTypeId" id="document_type" required>
                                                    <option id="option_txt" *ngFor="let doctypefile of docTypeArr"
                                                        [value]="doctypefile.documentTypeId">{{doctypefile.documentTypeName}}
                                                    </option>
                                                </select>
                                                <label class="form-label" for="document_type">Document Type</label>
                                                <div *ngIf="documentArr.controls[i].get('documentTypeId').invalid && (documentArr.controls[i].get('documentTypeId').dirty || documentArr.controls[i].get('documentTypeId').touched)"
                                                    class="text-danger error-msg">
                                                    <div
                                                        [hidden]="!documentArr.controls[i].get('documentTypeId').errors?.required">
                                                        Document type is required.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-input col-5">
                                                <div class="file-upload">
                                                    <div class="file-select" id="document_file">
                                                        <input type="file" class="document_name" name="chooseFile"
                                                            id="file_name" (change)="handleFileInput($event)"
                                                            formControlName="documentUrl">
                                                    </div>
                                                </div>
                                                <div *ngIf="documentArr.controls[i].get('documentUrl').invalid && (documentArr.controls[i].get('documentUrl').dirty || documentArr.controls[i].get('documentUrl').touched)"
                                                    class="text-danger error-msg">
                                                    <div
                                                        [hidden]="!documentArr.controls[i].get('documentUrl').errors?.required">
                                                        Document name is required.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=col-2>
                                                <input type="button" class="btnBlue" id="upload" value="UPLOAD"
                                                    (click)="uploadFile(i)">
                                            </div>
                                            <div class="form-group col-2">
                                                <button type="button" class="btn btnadd"
                                                    *ngIf="documentArr.controls.length > 1"
                                                    (click)="deleteDocument(i)">-</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-1">
                                    <button type="button" class="btn btnadd" (click)="addDocument()">+</button>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-3">

                                <button type="button" class="btn btnSave" (click)="onSubmit()"
                                    id="signUpButton">Save</button>
                            </div>
                            <div class="col-3">
                                <button type="button" class="btn btnCancel" (click)="onCancel()"
                                    id="signUpButton">Cancel</button>
                            </div>
                            <div class="col-3"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="addprofileemployer">
    </ngx-loading>
</div>