<div class="container-fluid">
    <div class="card" #customLoadingTemplate>
        <div class="card-body ">
            <img src="../../../../assets/images/konnecteum_logo.png" alt="Konnecteum" class="center">
            <h4>SIGN UP</h4>

            <form [formGroup]="uportSignupForm" novalidate autocomplete="off">

                <div class="form-group form-input">
                    <input type="text" formControlName="email" name="name" id="email" value="" required />
                    <label for="email" class="form-label">Email</label>

                    <div *ngIf="uportSignupForm.controls['email'].invalid && (uportSignupForm.controls['email'].dirty || uportSignupForm.controls['email'].touched)"
                        class="text-danger error-msg">
                        <div [hidden]="!uportSignupForm.controls['email'].errors.required">
                            Email is required.
                        </div>
                    </div>

                    <div *ngIf="uportSignupForm.controls['email'].invalid && (uportSignupForm.controls['email'].dirty || uportSignupForm.controls['email'].touched)"
                        class="text-danger error-msg">
                        <div [hidden]="!uportSignupForm.controls['email'].errors.email">
                            required valid Email address.
                        </div>
                    </div>
                </div>

                <div class="form-group form-input">
                    <input type="text" formControlName="country" name="name" id="country" value="" required />
                    <label for="country" class="form-label">Country</label>

                    <div *ngIf="uportSignupForm.controls['country'].invalid && (uportSignupForm.controls['country'].dirty || uportSignupForm.controls['country'].touched)"
                        class="text-danger error-msg">
                        <div [hidden]="!uportSignupForm.controls['country'].errors.required">
                            Country is required.
                        </div>
                    </div>
                </div>

                <div class="form-group form-input">
                    <input type="text" formControlName="phone_no" name="name" id="phone_number" value="" required />
                    <label for="phone_number" class="form-label">Phone Number</label>

                    <div *ngIf="uportSignupForm.controls['phone_no'].invalid && (uportSignupForm.controls['phone_no'].dirty || uportSignupForm.controls['phone_no'].touched)"
                        class="text-danger error-msg">
                        <div [hidden]="!uportSignupForm.controls['phone_no'].errors.required">
                            Phone Number is required.
                        </div>
                    </div>
                </div>
                <div class="form-group form-input">
                    <div class="row">
                        <div class="col-4">
                            <label class="radio-inline">
                                <input type="radio" formControlName="role" (keyup.enter)="focusableSubmit.click()"
                                    name="role" value="Freelancer" class="radiobutton">Freelancer
                            </label>
                        </div>
                        <div class="col-4">
                            <label class="radio-inline">
                                <input type="radio" formControlName="role" (keyup.enter)="focusableSubmit.click()"
                                    name="role" value="Employer" class="radiobutton">Employer
                            </label>
                        </div>
                        <div class="col-4">
                            <label class="radio-inline">
                                <input type="radio" formControlName="role" (keyup.enter)="focusableSubmit.click()"
                                    name="role" value="Partner" class="radiobutton">Partner
                            </label>
                        </div>

                    </div>
                    <div *ngIf="uportSignupForm.controls['role'].invalid && (uportSignupForm.controls['role'].dirty || uportSignupForm.controls['role'].touched)"
                        class="text-danger error-msg">
                        <div [hidden]="!uportSignupForm.controls['role'].errors.required">
                            Role is required.
                        </div>
                    </div>
                </div>

                <br>
                <br>

                <button type="button" #focusableSubmit class="btn" id="btn-60"
                    [disabled]="uportSignupForm.pristine || uportSignupForm.invalid" (click)="onSubmit()">Sign
                    up</button>
            </form>


            <label id="option">Already have an account? </label>
            <a [routerLink]="['/auth/auth/login']" id="forgetPassword"><i>
                    <h6>Login</h6>
                </i></a>
        </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
    </ngx-loading>
</div>