<div class="container-fluid">
    <div class="card" #customLoadingTemplate>
        <div class="card-body ">
            <img src="../../../../assets/images/konnecteum_logo.png" alt="Konnecteum" class="center">
            <h4>SIGN UP</h4>

            <form [formGroup]="signupForm" class="signupForm" novalidate>

                <div class="form-group form-input">
                    <input type="text" formControlName="email" name="name" id="email" value="" required />
                    <label for="email" class="form-label">Email</label>
                    <div *ngIf="submitted && formValidation.email.errors || signupForm.get('email').invalid && (signupForm.get('email').dirty || signupForm.get('email').touched)"
                        class="text-danger error-msg">

                        <div *ngIf="signupForm.get('email').errors.required">
                            Email is required.
                        </div>

                        <div *ngIf="signupForm.get('email').errors.email">
                            Require valid Email address.
                        </div>
                    </div>
                </div>

                <div class="form-group form-input">
                    <input type="password" formControlName="password" name="name" id="password" value="" required />
                    <label for="password" class="form-label">Password</label>
                    <!-- <span class="text-font">(Enter one uppercase, one special character, minimum 8 characters)</span> -->

                    <div *ngIf="submitted && formValidation.password.errors || signupForm.get('password').invalid && (signupForm.get('password').dirty || signupForm.get('password').touched)"
                        class="text-danger error-msg">

                        <div *ngIf="signupForm.get('password').errors.required" class="mt-2">
                            Password is required.
                        </div>

                        <div *ngIf="signupForm.get('password').errors.pattern">
                            Password should contain one uppercase, one digit, one special character, minimum 8 and
                            maximum 20 characters long.
                        </div>
                    </div>
                </div>

                <div class="form-group form-input">
                    <select formControlName="custom_country" id="country" required>
                        <option *ngFor="let country of countryArr" [ngValue]="country.countryId">
                            {{country.countryName}}
                        </option>
                    </select>
                    <label class="form-label" for="country">Country</label>

                    <div *ngIf="submitted && formValidation.custom_country.errors || signupForm.controls['custom_country'].invalid && (signupForm.controls['custom_country'].dirty || signupForm.controls['custom_country'].touched)"
                        class="text-danger error-msg">
                        <div [hidden]="!signupForm.controls['custom_country'].errors.required">
                            Country is required.
                        </div>
                    </div>
                </div>

                <div class="form-group form-input">
                    <input type="text" formControlName="phone_no" name="name" id="phone_number" value="" required />
                    <label for="phone_number" class="form-label">Phone Number</label>
                    <span class="text-font">(Enter Phone number with format: +91 and 10 digit)</span>

                    <div *ngIf="submitted && formValidation.phone_no.errors || signupForm.get('phone_no').invalid && (signupForm.get('phone_no').dirty || signupForm.get('phone_no').touched)"
                        class="text-danger error-msg">

                        <div *ngIf="signupForm.get('phone_no').errors.required">
                            Phone no is required.
                        </div>

                        <!-- <div *ngIf="signupForm.get('phone_no').errors.isValidContactNumber">
                            Require valid Phone number with format: +91 and 10 digit.
                        </div> -->

                        <!-- <div *ngIf="signupForm.get('phone_no').errors.pattern">
                            Require valid Phone number with format: +91 and 10 digit.
                        </div> -->
                    </div>
                    <!-- <div *ngIf="signupForm.controls['phone_no'].invalid && (signupForm.controls['phone_no'].dirty || signupForm.controls['phone_no'].touched)"
                        class="text-danger error-msg">
                        <div [hidden]="!signupForm.controls['phone_no'].errors.required">
                            Phone Number is required.
                        </div>
                    </div> -->
                </div>

                <br>
                <div class="form-group form-input">
                    <label for="custom_role" class="form-label text-center">Select your Role</label>
                </div>
                <div class="form-group form-input">
                    <div class="row">
                        <div class="col-4">
                            <label class="radio-inline">
                                <input type="radio" formControlName="custom_role" name="custom_role"
                                    (keyup.enter)="focusableSubmit.click()" value="1" class="radiobutton">
                                Freelancer
                            </label>
                        </div>
                        <div class="col-4">
                            <label class="radio-inline">
                                <input type="radio" formControlName="custom_role" name="custom_role"
                                    (keyup.enter)="focusableSubmit.click()" value="2" class="radiobutton">
                                Employer
                            </label>
                        </div>
                        <div class="col-4">
                            <label class="radio-inline">
                                <input type="radio" formControlName="custom_role" name="custom_role"
                                    (keyup.enter)="focusableSubmit.click()" value="3" class="radiobutton">
                                Partner
                            </label>
                        </div>

                    </div>
                    <div *ngIf="submitted && formValidation.custom_role.errors || signupForm.controls['custom_role'].invalid && (signupForm.controls['custom_role'].dirty || signupForm.controls['custom_role'].touched)"
                        class="text-danger error-msg">
                        <div [hidden]="!signupForm.controls['custom_role'].errors.required">
                            Role is required.
                        </div>
                    </div>
                </div>

                <button type="button" #focusableSubmit class="btn btn-color btn-front-weight" id="btn-60" (click)="onSubmit()">Sign up</button>
            </form>


            <label id="option">Already have an account? </label>
            <a [routerLink]="['/auth/auth/login']" id="forgetPassword"><i>
                    <h5>Login</h5>
                </i></a>
        </div>
    </div>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
    </ngx-loading>
</div>