<div class="container-fluid">
    <div class="card" #customLoadingTemplate>
        <div class="card-body ">
            <img src="../../../../assets/images/konnecteum_logo.png" alt="Konnecteum" class="center">
            <h4>SIGN UP</h4>

            <form [formGroup]="signupForm" class="signupForm" novalidate autocomplete="off">

                <div class="form-group form-input">
                    <input type="text" formControlName="email" name="name" id="email" value="" required />
                    <label for="email" class="form-label">Email</label>

                    <div *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched)"
                        class="text-danger error-msg">
                        <div [hidden]="!signupForm.controls['email'].errors.required">
                            Email is required.
                        </div>
                    </div>
                    <div *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched)"
                        class="text-danger error-msg">
                        <div *ngIf="signupForm.controls['email'].errors.email">
                            require valid Email address.
                        </div>
                    </div>
                </div>

                <div class="form-group form-input">
                    <input type="password" formControlName="password" name="name" id="password" value="" required />
                    <label for="password" class="form-label">Password</label>

                    <div *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched)"
                        class="text-danger error-msg">
                        <div [hidden]="!signupForm.controls['password'].errors.required">
                            Password is required.
                        </div>
                    </div>

                    <div *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched)"
                        class="text-danger error-msg">
                        <div *ngIf="signupForm.controls['password'].errors.minLength">
                            require min 6 character.
                        </div>
                    </div>
                </div>

                <div class="form-group form-input">
                    <input type="text" formControlName="custom_country" name="name" id="country" value="" required />
                    <label for="country" class="form-label">Country</label>

                    <div *ngIf="signupForm.controls['custom_country'].invalid && (signupForm.controls['custom_country'].dirty || signupForm.controls['custom_country'].touched)"
                        class="text-danger error-msg">
                        <div [hidden]="!signupForm.controls['custom_country'].errors.required">
                            Country is required.
                        </div>
                    </div>
                </div>

                <div class="form-group form-input">
                    <input type="text" formControlName="phone_no" name="name" id="phone_number" value="" required />
                    <label for="phone_number" class="form-label">Phone Number</label>

                    <div *ngIf="signupForm.controls['phone_no'].invalid && (signupForm.controls['phone_no'].dirty || signupForm.controls['phone_no'].touched)"
                        class="text-danger error-msg">
                        <div [hidden]="!signupForm.controls['phone_no'].errors.required">
                            Phone Number is required.
                        </div>
                    </div>
                </div>

                <br>
                <div class="form-group form-input">
                    <div class="row">
                        <!-- <div class="form-group form-input"> -->
                        <div class="col-4">
                            <label class="radio-inline">
                                <input type="radio" formControlName="custom_role" name="custom_role"
                                    (keyup.enter)="focusableSubmit.click()" value="Freelancer"
                                    class="radiobutton">Freelancer
                            </label>
                        </div>
                        <div class="col-4">
                            <label class="radio-inline">
                                <input type="radio" formControlName="custom_role" name="custom_role"
                                    (keyup.enter)="focusableSubmit.click()" value="Employer"
                                    class="radiobutton">Employer
                            </label>
                        </div>
                        <div class="col-4">
                            <label class="radio-inline">
                                <input type="radio" formControlName="custom_role" name="custom_role"
                                    (keyup.enter)="focusableSubmit.click()" value="Partner" class="radiobutton">Partner
                            </label>
                        </div>

                    </div>
                    <div *ngIf="signupForm.controls['custom_role'].invalid && (signupForm.controls['custom_role'].dirty || signupForm.controls['custom_role'].touched)"
                        class="text-danger error-msg">
                        <div [hidden]="!signupForm.controls['custom_role'].errors.required">
                            Role is required.
                        </div>
                    </div>
                </div>

                <button type="button" #focusableSubmit class="btn" id="btn-60"
                    [disabled]="signupForm.pristine || signupForm.invalid" (click)="onSubmit()">Sign up</button>
            </form>


            <label id="option">Already have an account? </label>
            <a [routerLink]="['/auth/auth/login']" id="forgetPassword"><i>
                    <h6>Login</h6>
                </i></a>
        </div>
    </div>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
    </ngx-loading>
</div>