// Angular  + Nodejs + Chat (CSS)

@import "../../../assets/css/theme_colors";

.container-fluid {
    font: 14px "Montserrat Regular";
    background-color: $bg-back-color;
    color: $text-color;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 2%;
}

.card {
    padding: 0%;
    background: $bg-front-color;
    width: 100%;
}

.showRight{
    float: right;
    // width: 50%;
    // padding: 0.2%;
}


.showLeft{
    float: left;
    // width: 50%;
    // padding: 0.2%;
}

.textSmallSize{
    font-size: 10px;
}
 
.card-header {
    padding: 0.5rem 0.55rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.top-margin{
    margin-top: 4rem;
}
.card-body {
    width: 100%;
    height: 25rem;
    padding: 1% 1%;
    overflow-y: auto !important;
    overflow-x: hidden;
}

.card-footer {
    // padding: .75rem 1.25rem;
    background-color: transparent !important;
    border-top: none;
    padding: 0% 1% !important;
}

form {
    padding: none !important; 

    .form-group {
        margin-bottom: none !important;
    }
}


img {
    width: 100%;
}

.float-right .fa {
    margin-right: 0.3rem;
    font-size: 1.2rem;
    height: 20%;

}

.float-right .fa:hover {
    color: #646464;
}

.inbox_people {
    background: $bg-front-color none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}

.top_spac {
    margin: 20px 0 0;
}

.recent_heading {
    float: left;
    width: 40%;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 100%;
}

.recent_heading h4 {
    color: $blue-color;
    font-size: 21px;
    margin: auto;
}

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 100%;
    background: none;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #707070;
    font-size: 20px;
}

.chat_ib h6 {
    font-size: 0.6rem;
    color: $text-color;
    margin: 0 0 8px 0;
    font-weight: $text-font-weight;
}

.chat_ib h6 span {
    font-size: 0.3rem;
    margin-left: 3%;
    // float: left;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

.chat_img {
    float: left;
    // width: 100%;
    margin-right:0.1rem;
    position: relative;
}

.card-margin{
    margin-top:  50px;
}

.current_user_img{
    margin: auto;
    img {
        width: 100px;
        height: 100px;
        margin: 10px;
    }
}

.current_user_audiocall_img{
    margin: auto;
    img {
        width: 150px;
        height: 150px;
        margin-top: 200px;
    }
}

.btn-color,
.btn-front-weight {
  color:$btn-front-color;
  background:$btn-bg-color;
  font-weight: bold;
  letter-spacing: $letter-spacing;
  border-radius: $btn-border-radius;
  display: inline-block;
  text-align: center;
  padding: 1%;
}

.current_user_detail {
    width: 100%;
}

.chat_ib {
    // float: left;
    padding: 0.1rem;
    width: 100%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    margin: 0;
    padding: 1% 1%;
}

.inbox_chat {
    height: 550px;
    // overflow-y: scroll;
}

.active_chat {
    background: #ebebeb;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.outgoing_msg_img {
    width: 6%;
    float: right;
    margin-left: 20px;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;

    // width: 92%;
}

.receivedFile{
    p {
        // margin-top: 8px;
        // margin-bottom: 1rem;
        margin-left: 2rem;
        padding: 0.5rem 1rem;
        border-radius: 2rem;
        background: $bg-back-color;
        color: $text-color;
        margin-top: 1rem;
    }

    .fileDownload{
        height: 2.2rem;
        width: 2.2rem;
        cursor: pointer;
            border: none;
            // border: 0.5px solid #fff;
            border-radius: 50%;
            background: rgb(190, 189, 189);
            // background: transparent;
            margin-left: 1%;
            text-align: center;
            margin-top: 1rem;
            .fa{
                // cursor: pointer;
                height: 0.7rem;
                width: 0.7rem;
                font-size: 25px;
                color: #fff;
                border: none;
                margin-left:0%;
                margin-right: 50%;
                // margin-top: 1rem;
            }
    }
}



// .receivedFile::before {
//     background-color: #fff;
//     content: "\00a0";
//     display: block;
//     height: 12px;
//     position: absolute;
//     top: 10px;
//     transform: rotate(29deg) skew(-35deg);
//     -moz-transform: rotate(29deg) skew(-35deg);
//     -ms-transform: rotate(29deg) skew(-35deg);
//     -o-transform: rotate(29deg) skew(-35deg);
//     -webkit-transform: rotate(29deg) skew(-35deg);
//     width: 15px;
// }

.received_withd_msg p {
    border-radius: 3px;
    color: #646464;
    font-size: 18px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    // width: 57%;
}

.mesgs {
    float: left;
    width: 100%;
    height: 100%;
    padding: 0%;
    width: 100%;
}

.sent_msg p {
    background: #fff;
    border-radius: 3px;
    font-size: 18px;
    margin: 0;
    color: #000;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sent_msg {
    float: right;
    // width: 46%;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: $text-color;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.type_msg {
    position: relative;
    color: $text-color;
    // height: 100%;
    border: 0.5px solid #000;
    border-radius: 35px;
    padding: 4px 25px;
    margin-top:1.5%;
}


.fileShare, .audioShare{
    height: 50%;
    font-size: 22px;
    border: 0.8px solid #000;
    border-radius: 50%;
    width: 40%;
    padding: 9%;
    margin-right: auto;
    text-align: center;
}
    
// .audioShare{
//     height: 50%;
//     font-size: 22px;
//     border: 0.8px solid #000;
//     border-radius: 50%;
//     width: 40%;
//     padding: 9%;
//     margin-right: auto;
//     text-align: center;
// }

.file_send_btn {
    float: right;
    border-radius: 50%;
    font-size: 1.2rem;
    background: #006699;
    padding: 0.7rem;
    margin: 0.2rem;
}

.msg_send_btn {
    background: $blue-color none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}

.messaging {
    padding: 0 0 50px 0;
}

#msg_history {
    height: 90%;
    // overflow-y: auto;
}

.bubble {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble-blue {
    background: #FFF;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #fff;
    content: "\00a0";
    display: block;
    height: 12px;
    position: absolute;
    top: 10px;
    transform: rotate(29deg) skew(-35deg);
    -moz-transform: rotate(29deg) skew(-35deg);
    -ms-transform: rotate(29deg) skew(-35deg);
    -o-transform: rotate(29deg) skew(-35deg);
    -webkit-transform: rotate(29deg) skew(-35deg);
    width: 15px;
}

.bubble-blue::before {
    background-color: #fff;
    content: "\00a0";
    display: block;
    height: 12px;
    position: absolute;
    top: 10px;
    transform: rotate(29deg) skew(-35deg);
    -moz-transform: rotate(29deg) skew(-35deg);
    -ms-transform: rotate(29deg) skew(-35deg);
    -o-transform: rotate(29deg) skew(-35deg);
    -webkit-transform: rotate(29deg) skew(-35deg);
    width: 15px;
}

.me {
    float: left;
    margin: 5px 45px 5px 5px;
}

.me::before {
    left: -5px;
}

.you {
    float: right;
    margin: 5px 5px 5px 45px;
}

.you::before {
    right: -5px;
}

.greentext {
    color: rgb(4, 255, 66);
}

.redtext {
    color: rgba(255, 42, 4, 0.651);
}

.greendot {
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    background-color: rgb(4, 255, 66);
    border-radius: 50%;
    display: inline-block;
}

.reddot {
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    background-color: rgba(255, 42, 4, 0.651);
    border-radius: 50%;
    display: inline-block;
}

.redDotCurrentUser{
    position: absolute;
    height: 1rem;
    width: 1rem;
    background-color: rgba(255, 42, 4, 0.651);
    border-radius: 50%;
    display: inline-block;
}

.ng-autocomplete {
    max-width: 100%;
    color: $text-color;
    background: $bg-front-color;
}

.input-container {
    background: $bg-back-color;
    color: $text-color;
}

.autocomplete-container .input-container input {
    background-color: $bg-back-color;
    color: $text-color;
}

.autocomplete-container .suggestions-container {
    position: absolute;
    width: 100%;
    background: $bg-back-color;
    height: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    box-sizing: border-box;
}

.autocomplete-container .suggestions-container ul {
    padding: 0;
    margin: 0;
    max-height: 240px;
    overflow-y: auto;
}

.autocomplete-container .suggestions-container ul li {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.autocomplete-container .suggestions-container ul li a {
    padding: 7px 7px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: rgba(0, 0, 0, .87);
    font-size: 12px;
}

a:not([href]):not([tabindex]) {
    color: #000;
}

.customCard tr td a {
    color: $white-color !important;
    cursor: pointer;
}

a:not([href]):not([tabindex]):hover {
    color: $text-color;
    background: $bg-front-color;
    text-decoration: none;
}

.video-audio-right {
    float: right;
    position: relative;
    font-size: 1rem;
    margin-right: 1rem
}


// Model CSS

#exampleModalCenter .modal-body{
    // width: 100%;
    // height: 80vh;
    overflow-y: auto !important;
}

.full_modal-dialog {
  width: 90% !important;
  height: 90% !important;
  min-width: 90% !important;
  min-height: 90% !important;
  max-width: 90% !important;
  max-height: 90% !important;
  padding: 0 !important;
}

.full_modal-content {
//   height: 90% ;
  min-height: 90% !important;
  max-height: 90% !important;
}

// .modal-content .full-modal-audiocall-content{
// height: 90% !important;
//   min-height: 90% !important;
//   max-height: 90% !important;
//   background-color: #495057 !important;
// }

.internaldiv {
    position: relative;
//     // width: 100% !important;
//     // height: 100% !important;
//     // min-width: 100% !important;
//     // min-height: 100% !important;
}

.img-border{
    width: 100% !important;
    height: 100% !important;
    // min-width: 100% !important;
    // min-height: 100% !important;
}
.audiocall-border{
    width: 100% !important;
    height: 100% !important;
    min-width: 100% !important;
    min-height: 100% !important;
}

.sendedFile{
    float: right;
    p {
        margin-left: 2rem;
        float: right;
        padding: 0.5rem 1rem;
        border-radius: 2rem;
        background: $bg-back-color;
        color: $text-color;
    }
}

// .sendedFile::before{
//     background-color: #fff;
//     content: "\00a0";
//     display: block;
//     height: 12px;
//     position: absolute;
//     top: 10px;
//     transform: rotate(29deg) skew(-35deg);
//     -moz-transform: rotate(29deg) skew(-35deg);
//     -ms-transform: rotate(29deg) skew(-35deg);
//     -o-transform: rotate(29deg) skew(-35deg);
//     -webkit-transform: rotate(29deg) skew(-35deg);
//     width: 15px;
// }

.modal-content-audiocall{
    background: #001 !important;

.internaldiv .overlayAudio{
    display: inline-block;
    opacity: 1;
    position: absolute;
    top: 500px;
    right: 40%;
    bottom: 5%;
    left: 40%;
    z-index: 50;
    transition: 0.5s;
    .icon-center{
        padding-right: 20%;
    }

    .call-start{
        height: 3.5rem;
        width: 3.5rem;
        border: none;
        // border: 0.5px solid #fff;
        border-radius: 50%;
        background: rgb(190, 189, 189);
        // background: transparent;
        margin-right: 5%;
        
        .fa{
            cursor: pointer;
            height: 2rem;
            width: 2rem;
            font-size: 32px;
            color: #fff;
            border: none;
        }

        :hover {
            background: red !important;
        }
    }

    


    .call-end{
        height: 3.5rem;
        width: 3.5rem;
        // border: 0.5px solid #fff;
        border: none;
        border-radius: 50%;
        background: rgb(190, 189, 189);
        // background: transparent;
        margin-right: 5%;
        .fa{
            cursor: pointer;
            height: 2rem;
            width: 2rem;
            font-size: 32px;
            color: #fff;
            border: none;
        }
    }


    .screen-share{
        height: 3.5rem;
        width: 3.5rem;
        // border: 0.5px solid #fff;
        border: none;
        border-radius: 50%;
        background: rgb(190, 189, 189);
        // background: transparent;
        margin-right: 5%;
        .fa{
            cursor: pointer;
            height: 2rem;
            width: 2rem;
            font-size: 32px;
            color: #fff;
            border: none;
        }
    }
    
    // .call-start:hover{
    //     background: green;
    //     transition: 0.5s;
    //     .fa{
    //         color: #fff;
    //     }
    
    // }
    
    // .call-end:hover{
    //     background: red;
    //     transition: 0.5s;
    //     .fa{
    //         color: #fff;
    //     }
    // }
    
    
    // .call-start, .call-end{
    //     .fa{
    //         cursor: pointer;
    //         height: 2rem;
    //         width: 2rem;
    //         font-size: 32px;
    //         color: #000;
    //         border: none;
    //     }
    // }
}
}

.overlay-audio{
    display: inline-block;
    opacity: 1;
    position: absolute;
    top: 500px;
    right: 1%;
    bottom: 1%;
    left: 70%;
    z-index: 50;
    transition: 0.5s;
    border: none;

    .icon-center{
        padding-right: 20%;
    }

    .call-start{
        height: 2.5rem;
        width: 2.5rem;
        border: 0.5px solid #fff;
        border-radius: 50%;
        background: rgb(190, 189, 189);
        // background: transparent;
        margin-right: 2%;
        .fa{
            cursor: pointer;
            height: 1.5rem;
            width: 1.5rem;
            font-size: 18px;
            color: #fff;
            border: none;
        }
    }


    .call-end{
        height: 2.5rem;
        width: 2.5rem;
        border: 0.5px solid #fff;
        border-radius: 50%;
        background: rgb(190, 189, 189);
        // background: transparent;
        margin-right: 2%;
        .fa{
            cursor: pointer;
            height: 1.5rem;
            width: 1.5rem;
            font-size: 18px;
            color: #fff;
            border: none;
        }
    }


    .screen-share{
        height: 2.5rem;
        width: 2.5rem;
        border: 0.5px solid #fff;
        border-radius: 50%;
        background: rgb(190, 189, 189);
        // background: transparent;
        margin-right: 2%;
        .fa{
            cursor: pointer;
            height: 1.5rem;
            width: 1.5rem;
            font-size: 18px;
            color: #fff;
            border: none;
        }
    }
}

.modal-content-videocall{
    background: #001 !important;
.overlay{
    display: inline-block;
    opacity: 1;
    position: absolute;
    top: 90%;
    right: 40%;
    bottom: 5%;
    left: 40%;
    z-index: 50;
    transition: 0.5s;
    .icon-center{
        padding-right: 20%;
    }

    .call-start{
        height: 4rem;
        width: 4rem;
        border: none;
        border-radius: 50%;
        background: green;
        margin-right: 2%;
        .fa{
            cursor: pointer;
            height: 2rem;
            width: 2rem;
            font-size: 32px;
            color: #fff;
            border: none;
        }
    }


    .call-end{
        height: 4rem;
        width: 4rem;
        border: none;
        border-radius: 50%;
        background: red;
        margin-right: 2%;
        .fa{
            cursor: pointer;
            height: 2rem;
            width: 2rem;
            font-size: 32px;
            color: #fff;
            border: none;
        }
    }


    .screen-share{
        height: 4rem;
        width: 4rem;
        border: 0.5px solid #fff;
        border-radius: 50%;
        background: transparent;
        margin-right: 2%;
        .fa{
            cursor: pointer;
            height: 1.2rem;
            width: 1.2rem;
            font-size: 25px;
            color: #fff;
            border: none;
        }
    }
    
    // .call-start:hover{
    //     background: green;
    //     transition: 0.5s;
    //     .fa{
    //         color: #fff;
    //     }
    
    // }
    
    // .call-end:hover{
    //     background: red;
    //     transition: 0.5s;
    //     .fa{
    //         color: #fff;
    //     }
    // }
    
    
    // .call-start, .call-end{
    //     .fa{
    //         cursor: pointer;
    //         height: 2rem;
    //         width: 2rem;
    //         font-size: 32px;
    //         color: #000;
    //         border: none;
    //     }
    // }
}
}


.overlay-video{
    display: inline-block;
    opacity: 1;
    position: absolute;
    top: 80%;
    right: 1%;
    bottom: 1%;
    left: 80%;
    z-index: 50;
    transition: 0.5s;
    border: none;

    .img-border{
        border-radius: 0.2rem;
    }
}



// .modal-dialog {
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }

// .modal-content {
//   height: 100%;
//   width: 100%;
// //   min-height: 100%;
//   border-radius: 0;
// background: $bg-front-color;
// color: $text-color;
// font-size: 12px;
// }

// .modal .modal-dialog .modal-content {
//     background: $bg-front-color;
//     color: $text-color;
//     font-size: 12px;
// }

.modal-title {
    font-size: 14px;
}

.model-body {
    margin:1rem 3rem !important;
}
.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: $text-color;
    border-radius: .25rem;
}

.text-faint{
    color: gray;
}   

.text-big{
  font-size: 1.5rem;
}   

.msg-box{
    border: 0.1px #a3a3a3 solid;
}


//Model
.bg-model{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    opacity: 0.7;
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content{
        width: 500px;
        height: 300px;
        background-color: white;
        opacity: 1;
    }
}

