<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <div class="headind_srch">
            <p>Search</p>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <div class="ng-autocomplete">
                  <ng-autocomplete [data]="allUsersArr" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                    (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>
                  <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.emailId"></a>
                  </ng-template>
                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div><br>
          <div class="row">
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12 text-center">
                  <i class="fa fa-comments icons-left" title="Chat" aria-hidden="true" (click)="showChatUserWindow()"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <label>Chats</label>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12 text-center">
                  <i class="fa fa-users icons-left" title="Group Chat" aria-hidden="true"
                    (click)="showAvailableRooms()"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <label>Groups</label>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12 text-center">
                  <i class="fa fa-address-book icons-left" title="Favourite" aria-hidden="true"
                    (click)="showChatContacts()"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <label>Contacts</label>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12 text-center">
                  <i class="fa fa-star icons-left" title="Favourite" aria-hidden="true"
                    (click)="showChatsFavourite()"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <label>Favourites</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body" *ngIf="is_chats == true">
          <div class="card-body " *ngIf="isChatRoomAvailable == true; else isShowRoomNotAvailable">
                <div class="text-left py-1" *ngFor="let chatName of chatNamesArray; let i=index">
                    <p (click)="independentChatSelected(chatName.participant_name)" (click)="showIndependentHistoryMessages()">
                        {{chatName.participant_name}}
                    </p>
                <hr>
                </div>
            </div>
            <ng-template #isShowRoomNotAvailable>
              <div class="card-body">
                <div class="msg-box text-center py-4">
                    <p>Room is not available</p>
                  </div>
              </div>
            </ng-template>
        </div>
        <div class="card-body" *ngIf="is_groupRooms == true">
          <div class="col-md-12 text-center">
            <i class="fa fa-plus-circle text-big" title="Screen Share" aria-hidden="true" data-toggle="modal"
              data-target="#roomCreateModel"></i>
          </div>
          <div class="col-md-12 text-center">
            <label for="create"> Create a New Room</label>
          </div>
          <hr>
          <div class="card-body " *ngIf="isGroupRoomAvailable == true; else isShowRoomNotAvailable">
              <div class="text-left py-1" *ngFor="let group of groupNamesArray; let i=index">
                  <p (click)="groupSelected(i)" (click)="showIndependentHistoryMessages()">
                      {{group.room_name}}
                    </p>
                 <hr>
                </div>
            </div>
            <ng-template #isShowRoomNotAvailable>
              <div class="card-body">
                <div class="msg-box text-center py-4">
                    <p>Room is not available</p>
                  </div>
              </div>
            </ng-template>

          <div class="modal fade" id="roomCreateModel" tabindex="-1" role="dialog"
            aria-labelledby="roomCreateModelTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h5 class="modal-title " id="roomCreateModelTitle">Create Room</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="model-body">
                  <form [formGroup]="selectedGroupUserForm">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group form-input">
                          <input type="text" name="groupName" formControlName="groupName" id="groupName" value=""
                            required />
                          <label for="groupName" class="form-label">Group Name</label>
                        </div>
                        <div class="form-group form-input">
                          <select id="userList" required formControlName="groupUserName" class="selectpicker" multiple
                            id="number" data-container="body" data-live-search="true" title="Select a number"
                            data-hide-disabled="true">
                            <option></option>
                            <option *ngFor="let users of allUsersArr" [ngValue]="users.emailId">
                              {{users.emailId}}
                            </option>
                          </select>
                          <label class="form-label" for="userList">User List</label>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="selectedGroupUsers()">Save & Create
                    Group</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="is_contact==true">
          <div *ngFor="let users of allUsersArr; let i=index">
            <hr *ngIf="i>0">
            <div class="chat_list" (click)="selectedUser(users)" data-toggle="modal" data-target="#langModel">
              <div class="chat_people" *ngIf="users.isLoggedIn == true ; else deactiveUser">
                <div class="row">
                  <div class="col-md-3">
                    <div class="chat_img">
                      <img class="rounded-circle" style="width: 50px; height: 40px;"
                        src="../../../assets/images/akhshay.png" alt="sunil">
                      <span class="greendot"></span>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="chat_ib">
                      <h6>{{users.emailId}}</h6>
                      <span class="time_date"> {{users.creationdate | date:'shortTime'}}</span>
                    </div>
                  </div>
                </div>
              </div>

              <ng-template #deactiveUser>
                <div class="row">
                  <div class="col-md-3">
                    <div class="chat_img">
                      <img class="rounded-circle" style="width: 50px; height: 40px;"
                        src="../../../assets/images/akhshay.png" alt="sunil">
                      <span class="reddot"></span>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="chat_ib">
                      <h6>{{users.emailId}}</h6>
                      <span class="time_date"> {{users.creationdate | date:'shortTime'}}</span>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="is_favouriteContacts == true">
          <p>Show favourite Chat Contcat</p>
        </div>
      </div>
    </div>
    <div class="col-md-8 text-center card-margin" *ngIf="!userselect; else isULangSelected">
      <h4 style="font-size: 25px; font-weight:400">Welcome, Khemraj</h4>
      <div class="current_user_img">
        <img class="rounded-circle" src="../../../assets/images/akhshay.png" alt="sunil">
        <span class="redDotCurrentUser"></span>
      </div>
      <br>
      <br>
      <br><br><br>
      <b>You are signed in as <i>{{senderEmail}}</i></b>
      <p>Try switching accounts if you cannot see your contacts or conversation history.</p>
    </div>

    <ng-template #isULangSelected>
      <div class="col-md-8">
        <div class="row">
          <div class="card">
            <div class="card-header">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <strong>{{ userSelected }}</strong>
                    {{ selectedUserClientID }}
                  </div>
                  <div class="col-md-3">
                    <div class="float-right">
                      <i class="fa fa-envelope icon-send" title="Text Chat" aria-hidden="true"
                        (click)="enableText()"></i>
                      <i class="fa fa-phone icon-send" title="Audio Chat" aria-hidden="true" (click)="enableAudioCall()"
                        data-toggle="modal" data-target="#audioCallModel"></i>
                      <i class="fa fa-video-camera icon-send" title="Video Chat" aria-hidden="true"
                        (click)="enableVideo()" data-toggle="modal" data-target="#exampleModalCenter"></i>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div>
                      <label>Default Language selected for Chating : <strong>{{sourceLanguage}}</strong></label>
                  </div>
                </div>
                <div class="row">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" (change)="changeLanguage($event.target.checked)" class="custom-control-input" id="defaultUnchecked">
                    <label class="custom-control-label" for="defaultUnchecked">Change preffered language for chatting to use Traslation service</label>
                  </div> 
                </div>
                <div class="row">
                  <div class="col-8">
                      <form [formGroup]="langForm"  *ngIf="showLanguageSelection == true">
                        <div class="form-group form-input col">
                          <select class="formStyle" formControlName="sourceLanguageCode" id="sourceLanguage" required
                            (change)="selectPreferedLanguage($event.target.value)">
                            <option *ngFor="let language of selectLanguage" [value]="language.languageCode">
                              {{language.language}}
                            </option>
                          </select>
                          <label for="sourceLanguage" class="form-label">Prefered Language </label>
                        </div>
                      </form> 
                  </div>                
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row" *ngIf="textEnable" >
              <div class="card">
                <div class="card-body">
                  <div class="inbox_chat">
                    <div id="msg_history">
                        <!-- START - To display the sender and receiver messages -->
                        <div *ngFor="let message of allGroupMessages ; let i=index">
                          <div *ngIf="message.roomId == currentRoom.room_id">
                              <div *ngIf="message.senderName == senderEmail; else receiverMessage">
                                  <div class="showRight" *ngIf="sourceLangCode == message.sourceLanguageCode; else senderlangDifferent">
                                 {{message.originalMessage}}<strong>: {{message.senderName}}</strong><br>
                                  </div>
                                  <ng-template #senderlangDifferent>
                                      <div *ngIf="sourceLangCode != message.sourceLanguageCode">
                                          <strong>{{message.receiverName}}:</strong>{{message.translatedMessage}} <br>
                                      </div>
                                  </ng-template>
                                  <br>
                              </div>
                              <ng-template #receiverMessage>
                                <div class="showLeft" *ngIf="sourceLangCode == message.sourceLanguageCode; else langDifferent">
                                    <strong>{{message.senderName}}: </strong>{{message.originalMessage}}<br>
                                </div>
                                <br>
                                <ng-template #langDifferent>
                                    <div class="showLeft" *ngIf="sourceLangCode != message.sourceLanguageCode; else langDifferent">
                                    <strong>{{message.senderName}}:</strong>{{message.translatedMessage}} <br>
                                    </div>
                                </ng-template>
                                  <br>
                              </ng-template>
                          </div>
                        </div>
                        <!-- END - To display the sender and receiver messages -->
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="col-md-10">
                      <div class="type_msg">
                        <div class="row">
                          <div class="col-md-10">
                            <div class="input_msg_write">
                              <input type="text" placeholder="Enter Message To Send..." [(ngModel)]="message"
                                class="form-control write_msg" ng-virtual-keyboard/>
                            </div>
                          </div>
                          <div class="col-md-2">
                              <button class="file_send_btn" title="Send Message" type="button" (click)="sendGroupMessages()" ><i
                                  class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="row fileShareAudio">
                        <div class="audioShare">
                          <i class="fa fa-volume-up icon-send" title="Audio Share" aria-hidden="true"
                            (click)="enableAudio()"></i>
                        </div>
                        <div class="fileShare">
                          <i class="fa fa-files-o icon-send" title="File Share" aria-hidden="true">
                            <input type="file" id="file" class="custom-file-input"
                              (change)="handleFileSelect($event)">
                          </i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="audioEnable">
              <div class="card">
                <div class="card-body">
                  <br>
                  <br>
                  <br>
                  <div class="row text-center">
                    <div class="col-md-6 text-center">
                      <audio #audioElement controls>
                        <source>
                      </audio>
                    </div>
                    <div class="col-md-6 text-center">
                      <audio #remoteAudioElement controls>
                        <source>
                      </audio>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="audioCallEnable">
              <div class="modal fade" id="audioCallModel" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog full_modal-dialog" role="document">
                  <div class="modal-content-audiocall full_modal-content">
                    <div class="internaldiv">
                      <audio #remoteAudioCallElement class="audiocall-border">
                        <source>
                      </audio>

                      <div class="current_user_audiocall_img text-center">
                        <img class="rounded-circle" src="../../../assets/images/akhshay.png" alt="sunil">
                      </div>

                      <audio #audioCallElement class="audiocall-border">
                        <source>
                      </audio>
                      <div class="overlayAudio">
                        <div class="row">
                          <div class="col-md-12 text-right icon-center">
                            <button class="call-start">
                              <i class="fa fa-volume-off" title="Voice Mute" aria-hidden="true"></i>
                            </button>
                            <button class="call-end" (click)="enableVideo()" data-toggle="modal"
                              data-target="#exampleModalCenter">
                              <i class="fa fa-video-camera" title="Disabled Video" aria-hidden="true"></i>
                            </button>
                            <button class="screen-share">
                              <i class="fa fa-phone" title="Call End" aria-hidden="true"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="videoEnable">

              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog full_modal-dialog" role="document">
                  <div class="modal-content-videocall full_modal-content">
                    <div class="internaldiv">
                      <video #remoteVideoElement class="img-border" autoplay>
                        <source>
                      </video>
                      <div class="overlay">
                        <div class="row">
                          <div class="col-md-12 text-right icon-center">
                            <button class="call-start">
                              <i class="fa fa-phone" aria-hidden="true"></i>
                            </button>
                            <button class="call-end">
                              <i class="fa fa-phone" aria-hidden="true"></i>
                            </button>
                            <button class="screen-share" (click)="enableScreen()" data-toggle="modal"
                              data-target="#screenshareModel">
                              <i class="fa fa-window-restore" aria-hidden="true"></i>
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="overlay-video">
                        <div class="row">
                          <div class="col-md-12">
                            <video #videoElement class="img-border" >
                              <source>
                            </video>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="screenEnable">

              <div class="modal fade" id="screenshareModel" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog full_modal-dialog" role="document">
                  <div class="modal-content full_modal-content">
                    <div class="internaldiv">
                      <video #remoteScreenElement class="img-border" width="{{ screenWidth }}"
                        height="{{ screenHeight }}">
                        <source>
                      </video>
                      <div class="overlay">
                        <div class="row">
                          <div class="col-md-12 text-right icon-center">
                            <button class="call-start">
                              <i class="fa fa-phone" aria-hidden="true"></i>
                            </button>
                            <button class="call-end">
                              <i class="fa fa-phone" aria-hidden="true"></i>
                            </button>
                            <button class="screen-share" (click)="enableScreen()">
                              <i class="fa fa-window-restore" aria-hidden="true"></i>
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="overlay-video">
                        <div class="row">
                          <div class="col-md-12">
                            <video #screenElement class="img-border" width="{{ screenWidth }}"
                              height="{{ screenHeight }}">
                              <source>
                            </video>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="footer"></div>
</div>