<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <p>Recent User</p>
      <div class="card">
        <div class="inbox_people">
          <div class="card-header">
            <div class="headind_srch">
              <p>Search</p>
              <div class="srch_bar">
                <div class="stylish-input-group">
                  <div class="ng-autocomplete">
                    <ng-autocomplete [data]="allUserArray" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                      (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                      [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>
                    <ng-template #itemTemplate let-item>
                      <a [innerHTML]="item.emailId"></a>
                    </ng-template>
                    <ng-template #notFoundTemplate let-notFound>
                      <div [innerHTML]="notFound"></div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="inbox_chat">
              <div *ngFor="let users of allUserArray; let i=index">
                <hr *ngIf="i>0">
                <div class="chat_list" (click)="selectUser(users)">
                  <div class="chat_people" *ngIf="users.isLoggedIn == true ; else deactiveUser">
                    <div class="chat_img">

                      <img class="rounded-circle" style="width: 50px; height: 40px;"
                        src="../../../assets/images/akhshay.png" alt="sunil">
                      <span class="greendot"></span>
                    </div>
                    <div class="chat_ib">
                      <h5>{{users.emailId}}</h5>
                      <span class="time_date"> {{users.creationdate | date:'shortTime'}}</span>
                    </div>
                  </div>

                  <ng-template #deactiveUser>
                    <div class="chat_img">

                      <img class="rounded-circle" style="width: 50px; height: 40px;"
                        src="../../../assets/images/akhshay.png" alt="sunil">
                      <span class="reddot"></span>
                    </div>
                    <div class="chat_ib">
                      <h5>{{users.emailId}}</h5>
                      <span class="time_date"> {{users.creationdate | date:'shortTime'}}</span>
                    </div>
                  </ng-template>
                </div>
                <br>
                <br>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="userSelected" class="col-8">
      <p>Message History</p>
      <div class="card">
        <div class="card-header">
          <div class="current_user">
            <div class="input_msg_write">
              <div class="chat_people">
                <div class="chat_img">
                  <img class="rounded-circle" style="width: 40px; height: 40px;"
                    src="../../../assets/images/akhshay.png" alt="sunil">
                </div>
                <div class="current_user_detail">
                  <p>{{userSelected}}
                    <i class="fa fa-ellipsis-v video-audio-right" data-toggle="modal" data-target="#myModalmenu"
                      aria-hidden="true"></i>
                    <i class="fa fa-video-camera video-audio-right" data-toggle="modal" data-target="#myModalvideo"
                      aria-hidden="true"></i>
                    <i class="fa fa-phone video-audio-right" data-toggle="modal" data-target="#myModalaudio"
                      aria-hidden="true"></i>
                  </p>

                  <div *ngFor="let users of allUsers">
                    <div *ngIf="activeStatus == true; else offline">
                      <small class="greentext">Online</small>
                    </div>
                    <ng-template #offline>
                      <small class="redtext">Offline</small>
                    </ng-template>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="mesgs">
            <div id="msg_history">
              <div *ngFor="let msgs of newMessageObject; let i=index">
                <div *ngIf="msgs.user == 'sender' &&  msgs.receiver == userSelected; else receiverUser">
                  <div class="outgoing_msg">
                    <div class="outgoing_msg_img">
                      <img style="width: 30px; height: 30px;" class="rounded-circle"
                        src="../../../assets/images/jothipawar.jpg" alt="sunil">
                    </div>
                    <div class="sent_msg bubble-blue you">
                      <p>{{msgs.senderMsg}}</p>
                      <p>{{msgs.receiverMsg}} </p>
                    </div>
                  </div>
                </div>

                <ng-template #receiverUser>
                  <div class="incoming_msg" *ngIf="msgs.sender == userSelected">
                    <div class="incoming_msg_img">
                      <img style="width: 30px; height: 30px;" class="rounded-circle"
                        src="../../../assets/images/akhshay.png" alt="sunil">
                    </div>
                    <div class="received_msg">
                      <div class="received_withd_msg bubble me">
                        <p>{{msgs.receiverMsg}} </p>
                        <p>{{msgs.senderMsg}}</p>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
            <div class="type_msg">
              <div class="row">
                <div class="col-md-9">
                  <div class="input_msg_write">
                    <input type="text" (keydown.enter)="sendMessageChat($event.target.value)"
                      (keydown.enter)="titleInput.value=''" #titleInput class="write_msg"
                      placeholder="Type a message" />

                  </div>
                </div>
                <div class="col-md-3">
                  <button class="file_send_btn" type="button" (click)="sendMessageChat(titleInput.value)"
                    (click)="titleInput.value=''"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="fileEnable">
            <div class="container">
              <div class="card">
                <div class="card-body">
                  <div class="container btn-toolbar">
                    <div class="custom-file input-group flex-nowrap col-md-10">
                      <input type="file" class="custom-file-input" id="file" (change)="handleFileInput($event.target.files)" >
                      <label class="custom-file-label" for="file">{{ sendFileName }}</label>
                    </div>
                    <div class="btn-group col-md-2">
                      <button type="button" class="btn btn-warning" (click)="sendFile()" >
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Send
                      </button>
                    </div>
                  </div>
                  <br />
                  <div class="container">
                    <div class="row">
                      <div class="col-md-2 text-center">
                        Send Progress :
                      </div>
                      <div class="col-md-10">
                        <div class="progress">
                          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [style.width.%]="sendProgressValue" aria-valuenow="progressValue" aria-valuemin="sendProgressMin" aria-valuemax="sendProgressMax">
                            <strong> {{ sendProgressValue }} %</strong>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-md-2 text-left">
                      Received :
                    </div>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-2 text-right">
                        File Name :
                      </div>
                      <div class="col-md-10">
                        {{ receivedFileName }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2 text-right">
                        File Type :
                      </div>
                      <div class="col-md-10">
                        {{ receivedFileType }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2 text-right">
                        File Size :
                      </div>
                      <div class="col-md-10">
                        {{ receivedFileSize }}
                      </div>
                    </div>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-2 text-center">
                        Receive Progress :
                      </div>
                      <div class="col-md-10">
                        <div class="progress">
                          <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" [style.width.%]="receivedProgressValue" aria-valuenow="receivedProgressValue" aria-valuemin="receivedProgressMin" aria-valuemax="receivedProgressMax">
                            <strong> {{ receivedProgressValue }} %</strong>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="container">
                    <div class="text-center">
                      <button type="button" class="btn btn-primary" (click)="downloadFile()" [disabled]="!enableDownload">
                        <i class="fa fa-download" aria-hidden="true"></i> Download File
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
</div>  -->


<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <div class="headind_srch">
            <p>Seach User</p>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <div class="ng-autocomplete">
                  <ng-autocomplete [data]="allUsersArr" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                    (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>
                  <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.emailId"></a>
                  </ng-template>
                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div><br>
          <!-- <div class="row">
            <div class="col-2">
              <i class="fa fa-comments-o icons-left" title="Screen Share" aria-hidden="true"
              (click)="createRoom()"></i>
            </div>
            <div class="col-3"> 
              <i class="fa fa-users icons-left" title="Screen Share" aria-hidden="true"
              (click)="createRoom()"></i>
            </div>
            <div class="col-5"> 
              <i class="fa fa-bell icons-left" title="Screen Share" aria-hidden="true"
              (click)="createRoom()"></i>
            </div>
          </div> -->
          <!-- <div class="col-md-12"> -->
          <div class="row">
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12 text-center">
                  <i class="fa fa-comments icons-left" title="Screen Share" aria-hidden="true"
                    (click)="showChats()"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <label>Chat</label>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12 text-center">
                  <i class="fa fa-users icons-left" title="Screen Share" aria-hidden="true" (click)="showRooms()"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <label>Room</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12 text-center">
                  <i class="fa fa-bell icons-left" title="Screen Share" aria-hidden="true" (click)="createRoom()"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <label>Notification</label>
                </div>
              </div>
            </div>
            <!-- <div class="col-2">  
                    <label>Chat</label>
                  </div>
                  <div class="col-3"> 
                    <label>Rooms</label>
                  </div>
                  <div class="col-5"> 
                    <label>Notifications</label>
                  </div> -->
          </div>
          <!-- </div> -->
        </div>
        <div class="card-body" *ngIf="is_chats==true">
          <div *ngFor="let users of allUsersArr; let i=index">
            <hr *ngIf="i>0">
            <div class="chat_list" (click)="selectedUser(users)">
              <div class="chat_people" *ngIf="users.isLoggedIn == true ; else deactiveUser">
                <div class="row">
                  <div class="col-md-3">
                    <div class="chat_img">
                      <img class="rounded-circle" style="width: 50px; height: 40px;"
                        src="../../../assets/images/akhshay.png" alt="sunil">
                      <span class="greendot"></span>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="chat_ib">
                      <h6>{{users.emailId}}</h6>
                      <span class="time_date"> {{users.creationdate | date:'shortTime'}}</span>
                    </div>
                  </div>
                </div>
              </div>

              <ng-template #deactiveUser>
                <div class="row">
                  <div class="col-md-3">
                    <div class="chat_img">
                      <img class="rounded-circle" style="width: 50px; height: 40px;"
                        src="../../../assets/images/akhshay.png" alt="sunil">
                      <span class="reddot"></span>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="chat_ib">
                      <h6>{{users.emailId}}</h6>
                      <span class="time_date"> {{users.creationdate | date:'shortTime'}}</span>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="card-body " *ngIf="is_rooms==true">
          <div class="col-md-12 text-center">
            <i class="fa fa-plus-circle text-big" title="Screen Share" aria-hidden="true" data-toggle="modal"
              data-target="#exampleModalCenter"></i>
          </div>
          <div class="col-md-12 text-center">
            <label for="create"> Create Room</label>
          </div>
          <hr>
          <div class="card-body " *ngIf="is_room_created==true">
            <div class="msg-box text-center py-4">
              Currently no rooms are available.
            </div>
          </div>

          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h5 class="modal-title " id="exampleModalLongTitle">Create Room</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-5">
                      <label>Enter Room Name</label>
                    </div>
                    <div class="col-7">
                      <input type="text">
                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 text-center card-margin" *ngIf="!userselect; else isUserSelected">
          <h4 style="font-size: 25px; font-weight:400">Welcome, Khemraj</h4>
          <div class="current_user_img">  
              <img class="rounded-circle"
                src="../../../assets/images/akhshay.png" alt="sunil">
                <span class="redDotCurrentUser"></span>
            </div>
            <br>
            <br>
            <br><br><br>
            <b>You are signed in as <i>{{senderEmail}}</i></b>
            <p>Try switching accounts if you cannot see your contacts or conversation history.</p>
            <button class="btn btn-color btn-front-weight">
             <b> Learn More </b>
            </button>
    </div>
    <ng-template #isUserSelected>
        <div class="col-md-9">
            <div class="row">
              <div class="card">
                <div class="card-header">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-9">
                          <!-- <div class="chat_img">  
                              <img class="rounded-circle"
                                src="../../../assets/images/akhshay.png" alt="sunil">
                                <span class="greendot"></span>
                            </div> -->
                        <strong>{{ userSelected }}</strong>
                        {{ selectedUserClientID }}
                      </div>
                      <div class="col-md-3">
                        <div class="float-right">
                          <i class="fa fa-envelope icon-send" title="Text Chat" aria-hidden="true" (click)="enableText()"></i>
                          
                          <i class="fa fa-video-camera icon-send" title="Video Chat" aria-hidden="true"
                            (click)="enableVideo()" data-toggle="modal" data-target="#exampleModalCenter"></i>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row" *ngIf="textEnable">
                  <div class="card">
                    <div class="card-body">
                      <div class="inbox_chat">
                        <div id="msg_history">
                          <div *ngFor="let msgs of messages; let i=index">
                            <p>{{msgs.clientId}}</p>
                            <p>{{msgs.data}} </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="row">
                        <div class="col-md-10">
                          <div class="type_msg">
                            <div class="row">
                              <div class="col-md-10">
                                <div class="input_msg_write">
                                  <input type="text" placeholder="Enter Message To Send..." [(ngModel)]="message"
                                    class="write_msg" />
                                </div>
                              </div>
                              <div class="col-md-2">
                                <button class="file_send_btn" title="Send Message" type="button" (click)="sendMessage()"><i
                                    class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="row fileShareAudio">
                            <div class="audioShare">
                              <i class="fa fa-volume-up icon-send" title="Audio Share" aria-hidden="true"
                                (click)="enableAudio()"></i>
                            </div>
                            <div class="fileShare">
                              <i class="fa fa-files-o icon-send" title="File Share" aria-hidden="true"
                                (click)="enableFile()"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="fileEnable">
                  <div class="card">
                    <div class="card-body">
                      <div class="btn-toolbar">
                        <div class="custom-file input-group flex-nowrap col-md-10">
                          <input type="file" class="custom-file-input" id="file"
                            (change)="handleFileInput($event.target.files)" [disabled]="!connected">
                          <label class="custom-file-label" for="file">{{ sendFileName }}</label>
                        </div>
                        <div class="btn-group col-md-2">
                          <button type="button" class="btn btn-warning" (click)="sendFile()"
                            [disabled]="sendFileName == 'Choose file' || !connected">
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Send
                          </button>
                        </div>
                      </div>
                      <br />
                      <div class="container">
                        <div class="row">
                          <div class="col-md-4 text-center">
                            Send Progress :
                          </div>
                          <div class="col-md-8">
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                [style.width.%]="sendProgressValue" aria-valuenow="progressValue"
                                aria-valuemin="sendProgressMin" aria-valuemax="sendProgressMax">
                                <strong> {{ sendProgressValue }} %</strong>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br />
                      <div class="row">
                        <div class="col-md-4 text-center">
                          Received :
                        </div>
                      </div>
                      <div class="container">
                        <div class="row">
                          <div class="col-md-4 text-right">
                            File Name :
                          </div>
                          <div class="col-md-8">
                            {{ receivedFileName }}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4 text-right">
                            File Type :
                          </div>
                          <div class="col-md-8">
                            {{ receivedFileType }}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4 text-right">
                            File Size :
                          </div>
                          <div class="col-md-8">
                            {{ receivedFileSize }}
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="container">
                        <div class="row">
                          <div class="col-md-4 text-center">
                            Receive Progress :
                          </div>
                          <div class="col-md-8">
                            <div class="progress">
                              <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                                role="progressbar" [style.width.%]="receivedProgressValue"
                                aria-valuenow="receivedProgressValue" aria-valuemin="receivedProgressMin"
                                aria-valuemax="receivedProgressMax">
                                <strong> {{ receivedProgressValue }} %</strong>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="container">
                        <div class="text-center">
                          <button type="button" class="btn btn-primary" (click)="downloadFile()" [disabled]="!enableDownload">
                            <i class="fa fa-download" aria-hidden="true"></i> Download File
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="audioEnable">
      
                  <div class="card">
                    <div class="card-body">
                      <br>
                      <br>
                      <br>
                      <div class="row text-center">
                        <div class="col-md-6 text-center">
                          <audio #audioElement controls>
                            <source>
                          </audio>
                        </div>
                        <div class="col-md-6 text-center">
                          <audio #remoteAudioElement controls>
                            <source>
                          </audio>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="videoEnable">
      
                  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog full_modal-dialog" role="document">
                      <div class="modal-content full_modal-content">
                        <div class="internaldiv">
                          <video #remoteVideoElement class="img-border">
                            <source>
                          </video>
                          <div class="overlay">
                            <div class="row">
                              <div class="col-md-12 text-right icon-center">
                                <button class="call-start">
                                  <i class="fa fa-phone" aria-hidden="true"></i>
                                </button>
                                <button class="call-end">
                                  <i class="fa fa-phone" aria-hidden="true"></i>
                                </button>
                                <button class="screen-share" (click)="enableScreen()" data-toggle="modal"
                                  data-target="#screenshareModel">
                                  <i class="fa fa-window-restore" aria-hidden="true"></i>
                                </button>
                              </div>
                            </div>
                          </div>
      
                          <div class="overlay-video">
                            <div class="row">
                              <div class="col-md-12">
                                <video #videoElement class="img-border">
                                  <source>
                                </video>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="screenEnable">
      
                  <div class="modal fade" id="screenshareModel" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog full_modal-dialog" role="document">
                      <div class="modal-content full_modal-content">
                        <div class="internaldiv">
                          <video #remoteScreenElement class="img-border" width="{{ screenWidth }}"
                            height="{{ screenHeight }}">
                            <source>
                          </video>
                          <div class="overlay">
                            <div class="row">
                              <div class="col-md-12 text-right icon-center">
                                <button class="call-start">
                                  <i class="fa fa-phone" aria-hidden="true"></i>
                                </button>
                                <button class="call-end">
                                  <i class="fa fa-phone" aria-hidden="true"></i>
                                </button>
                                <button class="screen-share" (click)="enableScreen()">
                                  <i class="fa fa-window-restore" aria-hidden="true"></i>
                                </button>
                              </div>
                            </div>
                          </div>
      
                          <div class="overlay-video">
                            <div class="row">
                              <div class="col-md-12">
                                <video #screenElement class="img-border" width="{{ screenWidth }}"
                                  height="{{ screenHeight }}">
                                  <source>
                                </video>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </ng-template>
   
  </div>
  <div class="footer"></div>
</div>