<div class="stars"></div>
<div class="twinkling"></div>
<div class="clouds"></div>
<div class="container-fluid">
  <div class="row">
    <div class="card #customLoadingTemplate">
      <div class="card-body">
        <img src="../../../../assets/images/konnecteum_logo.png" alt="Konnecteum" class="center rounded img-fluid">
        <h5>LOGIN</h5>
        <form [formGroup]="loginForm">

          <div class="form-group form-input">
            <input type="text" formControlName="email" name="email" id="email" value="" required />
            <label for="email" class="form-label">Email</label>

            <div
              *ngIf="submitted || formValidation.email.invalid && (formValidation.email.dirty || formValidation.email.touched)"
              class="text-danger error-msg">

              <div *ngIf="formValidation.email.errors?.required">
                Email is required.
              </div>

              <div *ngIf="formValidation.email.errors?.email">
                Require valid Email address.
              </div>
            </div>
          </div>

          <div class="form-group form-input">
            <input type="password" formControlName="password" name="password" id="password" value="" required
              (keyup.enter)="focusableSubmit.click()" />
            <label for="password" class="form-label">Password</label>
            <div
              *ngIf="submitted || formValidation.password.invalid && (formValidation.password.dirty || formValidation.password.touched)"
              class="text-danger error-msg">

              <div *ngIf="formValidation.password.errors?.required">
                Password is required.
              </div>

              <div *ngIf="formValidation.password.errors?.minLength">
                Password minimum 8 characters.
              </div>

              <div *ngIf="formValidation.password.errors?.maxLength">
                Password minimum 15 characters long.
              </div>
            </div>
          </div>
          <!-- <div class="checkbox"> -->
          <button type="button" class="btn btn-color btn-front-weight" #focusableSubmit id="btn-30" (click)="onSubmit()">Login</button>
          <a id="forgetPassword"><i>Forgot Password ?</i></a>
          <hr class="hr-text" data-content="OR">
          <button type="button" class="btn btn-color btn-front-weight" id="btn-70" [routerLink]="['/auth/auth/uport-login']">Login (Passwordless)</button>
          <!-- </div> -->
        </form>
        <label id="option"> Don't have an account? </label>
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-color btn-front-weight" [routerLink]="['/auth/auth/sign-up']" id="btn-equal">Sign up (with Password)</button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-color btn-front-weight" [routerLink]="['/auth/auth/uport-signup']" id="btn-equal">Sign up (Passwordless)</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
  </ngx-loading>
</div>