<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <label for="workPackage" class="headinglable">Work Package</label>
            </div>
            <div class="col-4">
                <button class="btn btnSearch" (click)="gotoSearch()">Search Freelancers</button>
            </div>
        </div>

        <div class="card">

            <div class="card-body">
                <div class="row ">
                    <div class="col-2">
                        <label class="text-color">Project Name :</label>
                    </div>
                    <div class="col-6">
                        <h6 class="text-color"> {{projectName}} </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label class="text-color"> Description :</label>
                    </div>
                    <div class="col-9">
                        <h6 class="text-color">{{projectDesc}}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-6">
                                <label class="text-color">Budget :</label>
                            </div>
                            <div class="col-6">
                                <h6 class="text-color"> {{budget}} {{budgetCurrency}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label class="text-color">Estimated cost :</label>
                            </div>
                            <div class="col-6">
                                <h6 class="text-color"> {{estimatedCost}} {{budgetCurrency}}</h6>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-6">
                                <label class="text-color">Complexity Level:</label>
                            </div>
                            <div class="col-6">
                                <h6 class="text-color">{{complexity}}</h6>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-4">
                                <label class="text-color">Duration : </label>
                            </div>
                            <div class="col-8">
                                <h6 class="text-color">{{durationYears}} years, {{durationMonths}} months,
                                    {{durationDays}} days</h6>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="row">
                                       
                            <div class="col-2">
                                <label class="text-color">Duration : </label>
                            </div>
                            <div class="col-8">
                                <h6 class="text-color">{{durationYears}} years, {{durationMonths}} months, {{durationDays}} days</h6>
                            </div>
                                    
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="text-color">Budget :</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 leftcol">
                                            <button class="btn viewprofile" type="button" (click)="onClick($event)">View
                                            </button>
                                        </div>
                                        <div class="col-6">
                                            <button class="btn viewprofile">Invite</button>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="card zoom">
                                <div class="card-body ">
                                    <div class="center">
                                        <div class="img-center">
                                            <img class="img-circle"
                                                src="../../../../../../assets/images/jothipawar.jpg">
                                        </div>
                                        <h6 class="text-desc text-center">Jyoti Pawar</h6>
                                        <label class="text-desc text-center">jyoti@gmail.com</label><br>
                                        <label class="text-desc text-center">Rate / Hour : $200</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 leftcol">
                                            <button class="btn viewprofile">View </button>
                                        </div>
                                        <div class="col-6">
                                            <button class="btn viewprofile">Invite</button>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card zoom">
                                <div class="card-body ">
                                    <div class="center">
                                        <div class="img-center">
                                            <img class="img-circle" src="../../../../../../assets/images/shefali.jpg">
                                        </div>
                                        <h6 class="text-desc text-center">Shefali Patil</h6>
                                        <label class="text-desc text-center">shefali@gmail.com</label><br>
                                        <label class="text-desc text-center">Rate / Hour : $200</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 leftcol">
                                            <button class="btn viewprofile">View </button>
                                        </div>
                                        <div class="col-6">
                                            <button class="btn viewprofile">Invite</button>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                             
                                <div class="row">
                                    <div class="col-6">
                                            <label class="text-color">Need Reviewer:</label>
                                        </div>
                                     <div class="col-6">
                                        <h6 class="text-color">Yes</h6>
                                    </div>

                              </div>
            
                            </div>
                            <div class="col-md-4">
                                  <div class="row">
                                        <div class="col-7">
                                                <label class="text-color">Approx Start Date :</label>
                                            </div>
                                         <div class="col-5">
                                            <h6 class="text-color">{{startDate | date :  "dd MMM yyyy" }}</h6>
                                        </div>
    
                                  </div>
                                  <div class="row">
                                    <div class="col-7">
                                            <label class="text-color">Date of Creation :</label>
                                        </div>
                                     <div class="col-5">
                                        <h6 class="text-color">{{creation}}</h6>
                                    </div>

                              </div>
          
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="swiper-slide">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card zoom">
                                <div class="card-body ">
                                    <div class="center">
                                        <div class="img-center">
                                            <img class="img-circle" src="../../../../../../assets/images/irshad.jpeg">
                                        </div>
                                        <h6 class="text-desc text-center">Irshad Hukkeri</h6>
                                        <label class="text-desc text-center">irshad@gmail.com</label><br>
                                        <label class="text-desc text-center">Rate / Hour : $200</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 leftcol">
                                            <button class="btn viewprofile" type="button" (click)="onClick($event)">View
                                            </button>
                                        </div>
                                        <div class="col-6">
                                            <button class="btn viewprofile">Invite</button>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="card zoom">
                                <div class="card-body ">
                                    <div class="center">
                                        <div class="img-center">
                                            <img class="img-circle"
                                                src="../../../../../../assets/images/jothipawar.jpg">
                                        </div>
                                        <h6 class="text-desc text-center">Jyoti Pawar</h6>
                                        <label class="text-desc text-center">jyoti@gmail.com</label><br>
                                        <label class="text-desc text-center">Rate / Hour : $200</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 leftcol">
                                            <button class="btn viewprofile">View </button>
                                        </div>
                                        <div class="col-6">
                                            <button class="btn viewprofile">Invite</button>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card zoom">
                                <div class="card-body ">
                                    <div class="center">
                                        <div class="img-center">
                                            <img class="img-circle" src="../../../../../../assets/images/shefali.jpg">
                                        </div>
                                        <h6 class="text-desc text-center">Shefali</h6>
                                        <label class="text-desc text-center">shefali@gmail.com</label><br>
                                        <label class="text-desc text-center">Rate / Hour : $200</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 leftcol">
                                            <button class="btn viewprofile">View </button>
                                        </div>
                                        <div class="col-6">
                                            <button class="btn viewprofile">Invite</button>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </swiper>

        <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="center">
                        <div class="img-center">
                            <img class="img-circle" src="../../../../../../assets/images/akhshay.png">
                        </div>
                        <h6 class="text-desc text-center">Akshay Adhawade</h6>
                        <label class="text-desc text-center">akshayadhawade@gmail.com</label>
                    </div>

                    <!-- Modal Header -->
                    <div class="modal-header">

                        <!-- <h4 class="modal-title">User Details:</h4> -->
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <p>User Id : {{UserId}}</p>
                        <p>Firstname : {{Firstname}}</p>
                        <p>Lastname : {{Lastname}}</p>
                        <p>Email : {{Email}}</p>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btnSearch" data-dismiss="modal" (click)="hide()">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>