<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h6 style="margin-top:1rem">Work-Packages</h6>
            </div>
        </div>
    
                <div class="card" *ngFor="let data of workArr; let i=index ">
                  
                    <div class="card-body" >
                        <div class="row ">
                            <div class="col-2">
                                <label  >Project Name :</label>
                            </div>
                            <div class="col-10">
                                <h6 (click)="gotoWorkpackage(i)">{{data.projectName}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <label > Description :</label>
                            </div>
                            <div class="col-10">
                                <h6>{{data.projectDescription}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-4">
                                        <label >Budget :</label>
                                    </div>
                                    <div class="col-8">
                                        <h6>{{data.budgetCurrencyCode}} {{data.budget}} </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label >Estimated Cost :</label>
                                    </div>
                                    <div class="col-8">
                                        <!-- <h6>{{data.budgetCurrencyCode}} {{data.estimatedCost}}</h6> -->
                                        <h6>ETH 1</h6>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-md-6">
                                    <div class="row">
                                            <div class="col-4">
                                                <label >Complexity Level:</label>
                                            </div>
                                            <div class="col-8">
                                                <h6>{{data.complexity}}</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-4">
                                                    <label >Start Date :</label>
                                                </div>
                                                <div class="col-8">
                                                    <h6>{{data.approxStartDate | date : "dd MMM yyyy"}}</h6>
                                                </div>
                                            </div>
                            </div>  
                            
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-2">
                                        <label >Duration :</label>
                                    </div>
                                    <div class="col-10">
                                        <h6>{{data.durationYears}} years, {{data.durationMonths}} months, {{data.durationDays}} days</h6>
                                        
                                    </div>
                                </div> 
                            </div>
                            <!-- <div class="col-4">
                                <div class="row">
                                    <div class="col-6">
                                        <label >Duration Months :</label>
                                    </div>
                                    <div class="col-4">
                                        <h6>{{data.durationMonths}}</h6>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-4">
                                
                                <div class="row">
                                    <div class="col-6">
                                        <label >Duration Days :</label>
                                    </div>
                                    <div class="col-6">
                                        <h6>{{data.durationDays}}</h6>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <button class="btn viewprofile1" (click)="gotoPayment(i)">Set Milestones</button>
                        <button class="btn viewprofile1" (click)="gotoWorkpackage(i)">Show Details</button>
                               
                    </div>

                    

                </div>
              
                
        </div>     
    </div>
    