<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <label for="workPackage" class="headinglable">Work Packages</label>
            </div>
        </div>
    
                <div class="card" *ngFor="let data of workArr; let i=index ">
                  
                    <div class="card-body" >
                        <div class="row ">
                            <div class="col-2">
                                <label class="text-muted" >Project Name :</label>
                            </div>
                            <div class="col-6">
                                <h6 (click)="gotoWorkpackage(i)">{{data.projectName}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <label class="text-muted"> Description :</label>
                            </div>
                            <div class="col-9">
                                <h6>{{data.projectDescription}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="text-muted">Budget :</label>
                                    </div>
                                    <div class="col-6">
                                        <h6>{{data.budgetCurrencyCode}} {{data.budget}} </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label class="text-muted">Estimated Cost :</label>
                                    </div>
                                    <div class="col-6">
                                        <h6>{{data.budgetCurrencyCode}} {{data.estimatedCost}}</h6>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-md-8">
                                    <div class="row">
                                            <div class="col-3">
                                                <label class="text-muted">Complexity Level:</label>
                                            </div>
                                            <div class="col-6">
                                                <h6>{{data.complexity}}</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-3">
                                                    <label class="text-muted">Start Date :</label>
                                                </div>
                                                <div class="col-6">
                                                    <h6>{{data.approxStartDate | date : "dd MMM yyyy"}}</h6>
                                                </div>
                                            </div>
                            </div>  
                            
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="text-muted">Duration :</label>
                                    </div>
                                    <div class="col-4">
                                        <h6>{{data.durationYears}} years</h6>
                                    </div>
                                </div> 
                            </div>
                            <!-- <div class="col-4">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="text-muted">Duration Months :</label>
                                    </div>
                                    <div class="col-4">
                                        <h6>{{data.durationMonths}}</h6>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-4">
                                
                                <div class="row">
                                    <div class="col-6">
                                        <label class="text-muted">Duration Days :</label>
                                    </div>
                                    <div class="col-6">
                                        <h6>{{data.durationDays}}</h6>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <button class="btn viewprofile1" (click)="gotoPayment(i)">Set Milestones</button>
                        <button class="btn viewprofile1" (click)="gotoWorkpackage(i)">Show Details</button>
                               
                    </div>

                    

                </div>
              
                
        </div>     
    </div>
    