<div class="section">
    <div class="card">
        <div class="card-header">
            <h6>PROFILE DETAILS</h6>
        </div>
        <div class="card-body">
            <form [formGroup]="employerProfileForm">
                <div class="row">

                    <div class="form-group form-input col">
                        <input type="text" formControlName="comapany_name" autocomplete="off" id="comapany_name"
                            required />
                        <label for="comapany_name" class="form-label">Company Name</label>
                    </div>

                    <div class="form-group form-input col">
                        <input type="text" formControlName="website_addr" autocomplete="off" id="website_addr"
                            required />
                        <label for="website_addr" class="form-label">Website Addr</label>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-input col">
                        <input type="text" formControlName="address_line_one" autocomplete="off" id="address_line_one"
                            required />
                        <label for="address_line_one" class="form-label">Address line 1</label>
                    </div>

                    <div class="form-group form-input col">
                        <input type="text" formControlName="address_line_two" autocomplete="off" id="address_line_two"
                            required />
                        <label for="address_line_two" class="form-label">Address line 2</label>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-input col">
                        <select class="formStyle" (change)="setCountryID($event.target.value)"
                            formControlName="country">
                            <option disabled value="">Country</option>
                            <option *ngFor="let country of countryArr" [ngValue]="country.name">{{country.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group form-input col">
                        <select class="formStyle" (change)="setStateID($event.target.value)" formControlName="state">
                            <option disabled value="">State</option>
                            <option *ngFor="let state of stateArr" [ngValue]="state.name">{{state.name}}</option>
                        </select>
                    </div>

                    <div class="form-group form-input col">
                        <select class="formStyle" formControlName="city">
                            <option disabled value="">City</option>
                            <option *ngFor="let city of cityArr" [ngValue]="city.name">{{city.name}}</option>
                        </select>
                    </div>
                    <div class="form-group form-input col">
                        <input type="text" formControlName="zipcode" autocomplete="off" id="postal_code" required />
                        <label for="postal_code" class="form-label">Postal code</label>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-input col-6">
                        <input type="text" formControlName="business_cat" autocomplete="off" id="business_cat"
                            required />
                        <label for="business_cat" class="form-label">Business Category</label>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-input col">
                        <input type="text" formControlName="company_profile" autocomplete="off" id="company_profile"
                            required />
                        <label for="company_profile" class="form-label">Comapany Name</label>
                    </div>

                    <div class="form-group form-input col">
                        <input type="text" formControlName="company_rep_det" autocomplete="off" id="company_rep_det"
                            required />
                        <label for="company_rep_det" class="form-label">Company Representative Detail</label>
                    </div>
                </div>
                <div formArrayName="documents">
                    <div *ngFor="let item of documentArr.controls; let i=index" formGroupName="{{i}}">
                        <div class="row">
                            <div class="form-group form-input col-3">
                                <input type="text" formControlName="docType" autocomplete="off" #textInput
                                    (input)="setDocTypeCatType(textInput.value)" id="docType" required>

                                <label for="file_type" class="form-label">Document Type</label>
                            </div>
                            <div class="form-group form-input col-3">
                                <div class="file-upload">
                                    <div class="file-select" id="document_file">
                                        <input type="file" class="document_name" name="chooseFile" id="file_name"
                                            (change)="handleFileInput($event)" formControlName="chooseFile">
                                    </div>
                                </div>
                            </div>
                            <div class=col-2>
                                <input type="button" class="btnBlue" id="upload" value="UPLOAD" (click)="uploadFile()">
                            </div>
                            <div class="form-group col-2">
                                <button type="button" class="btn btnadd" (click)="addDocument()">+</button> &nbsp;
                                &nbsp;
                                <button type="button" class="btn btnadd" (click)="deleteDocument(i)">-</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-3">

                        <button type="button" class="btn btnSave"
                            [disabled]="employerProfileForm.pristine || employerProfileForm.invalid"
                            (click)="onSubmit()" id="signUpButton">Save</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btnCancel" (click)="onCancel()"
                            id="signUpButton">Cancel</button>
                    </div>
                    <div class="col-3"></div>
                </div>
            </form>
        </div>
    </div>
</div>