<div class="container-fluid">
    <div class="row p-2">
        <div class="col-md-4">
            <div class="card mt-4">
                <div class="chart card-body">
                    <!-- <h5 class="mt-4">Bar Chart</h5> -->
                    <img src="../../../assets/images/bar_chart.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mt-4">
                <div class="chart card-body">
                    <!-- <h5 class="mt-4">Line Chart</h5> -->
                    <img src="../../../assets/images/line_chart.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mt-4">
                <div class="chart card-body">
                    <!-- <h5 class="mt-4">Circle Chart</h5> -->
                    <img src="../../../assets/images/circle_chart.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="mt-4">Sample Dashboard</h5>
                    <p>The starting state of the menu will appear collapsed on smaller screens, and will appear
                        non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="mt-4">Sample Dashboard</h5>
                    <p>The starting state of the menu will appear collapsed on smaller screens, and will appear
                        non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row p-2">
        <div class="col-md-12">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="mt-4">Sample Dashboard</h5>
                    <p>The starting state of the menu will appear collapsed on smaller screens, and will appear
                        non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
                </div>
            </div>
        </div>
    </div>
</div>