<!-- <div class="container">
    <div class="row">
        <div class="col-6">
            <h6>Technology-wise available jobs </h6>
            <div class="card">
                <div class="card-body">
                    <img class="tech" src="../../../assets/images/javascript.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-6">
            <h6>Ongoing Projects </h6>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6" style="color:cornflowerblue">
                            Project Name
                        </div>
                        <div class="col-3" style="color:cornflowerblue">
                            Due Date
                        </div>
                        <div class="col-3" style="color:cornflowerblue">
                            Priority
                        </div>
                    </div> 
                </div>
            </div>
            <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                Website Development
                            </div>
                            <div class="col-3">
                                12 Oct 2019
                            </div>
                            <div class="col-3">
                                High
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                Smart Contract creation on Blockchain
                            </div>
                            <div class="col-3">
                               21 oct 2019
                            </div>
                            <div class="col-3">
                                Medium
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    Android App development
                                </div>
                                <div class="col-3">
                                   27 oct 2019
                                </div>
                                <div class="col-3">
                                    Medium
                                </div>
                            </div> 
                        </div>
                    </div>
                 
            
            <h6 style="margin-top: 1rem;">Upcoming Payments</h6>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5" style="color:cornflowerblue">
                            Project Name
                        </div>
                        <div class="col-4" style="color:cornflowerblue">
                            Payment Date
                        </div>
                        <div class="col-3" style="color:cornflowerblue">
                            Amount
                        </div>
                    </div> 
                </div>
            </div>
            <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                Website Development
                            </div>
                            <div class="col-3">
                                12 Oct 2019
                            </div>
                            <div class="col-3">
                                $500
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                Smart Contract creation on Blockchain
                            </div>
                            <div class="col-3">
                               21 oct 2019
                            </div>
                            <div class="col-3">
                                $1000
                            </div>
                        </div> 
                    </div>
                </div>
                   
        </div>
    </div>
</div> -->

<div class="container">
    <ng-container *ngIf="userRole == 'Freelancer'; then freeDashboard; else empDashboard">
    </ng-container>

    <ng-template #freeDashboard>
        <div class="row">
            <div class="col-md-3 ">
                <img class="space-right" src="../../../assets/images/Active job.jpg">
            </div>
            <div class="col-md-3 " >
                <img   class="space-right" src="../../../assets/images/completed jobs.jpg">
            </div>
            <div class="col-md-3">
                <img  class="space-right" src="../../../assets/images/Saved Jobs.jpg">
            </div>
            <div class="col-md-3">
                <img  class="space-right" src="../../../assets/images/Total Earning.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img class="space-right1" src="../../../assets/images/calender - Copy (2).jpg">
            </div>
            <div class="col-md-8">
                <img class="space-right2" src="../../../assets/images/graph1-page-001.jpg">
            </div>
        </div>
    </ng-template>

    <ng-template #empDashboard>
        <div class="row">
            <div class="col-md-3 ">
                <img class="space-right" src="../../../assets/images/Active job.jpg">
            </div>
            <div class="col-md-3 " >
                <img   class="space-right" src="../../../assets/images/completed jobs.jpg">
            </div>
            <div class="col-md-3">
                <img  class="space-right" src="../../../assets/images/Saved Jobs.jpg">
            </div>
            <div class="col-md-3">
                <img  class="space-right" src="../../../assets/images/Total Earning.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img class="space-right1" src="../../../assets/images/calender - Copy (2).jpg">
            </div>
            <div class="col-md-8">
                <img class="space-right2" src="../../../assets/images/graph1-page-001.jpg">
            </div>
        </div>
    </ng-template>
</div>