@import "../../../assets/css/theme_colors";

.container {
    font: 14px "Montserrat Regular";
    background-color: $bg-back-color;
    color: $text-color;
    padding: 1rem;
    // overflow: scroll;
    font-weight: 400;
    width: 100%;
    height: auto;
  }
  
  // .container{
  //   max-width: 90% !important;
  //   position: relative;
  //   }
  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  hr {
    box-sizing: content-box;
    height: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .space-right{
    width: 100%;
    height: 100%;
  }
  
  .space-right1{
    padding-top: 2rem;
    width: 80%;
    height: 80%;
  }

  .space-right2{
    padding-top: 2rem;
    width: 100%;
    height: 80%;
  }

  .space-right3{
    width: 100%;
    height: 94%;
  }
  
  /*-----------------------------------------------------------------------
  CARD CSS
  -------------------------------------------------------------------------*/
  
  .card {
    height: auto !important;
    margin-top: 0.3rem;
    float: none;
    border: 0px;
    background: transparent !important;
  }
  
  
  .card .card-header {
    background: transparent !important;
    padding: .72rem .30rem;
  
  }
  
  .worktable {
    color: $text-color;
    background: transparent !important;
  }
  
  
  .card-body {
    border-radius: 3px;
    font-weight: 400;
    color: $text-color;
    background: $bg-front-color;
    letter-spacing: $text-letter-spacing;
    font-weight: $text-font-weight;
  }

  .tech{
      width:100%;
      height:100%;
  }

  h6{
    letter-spacing: $text-letter-spacing;
    font-weight: $text-font-weight;
  }
