// /* You can add global styles to this file, and also import other style files */

@import "./assets/css/variables";
@import "./assets/css/theme_colors";

@import "~ng-pick-datetime/assets/style/picker.min.css";

// @font-face {
//   font-family: 'Montserrat Regular';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Montserrat Regular'), local('Montserrat-Regular'),
//     url('./assets/font/Montserrat-14/Montserrat-v14-latin-regular.woff2') format('woff2'),
//     /* Chrome 26+, Opera 23+, Firefox 39+ */
//     url('./assets/font/Montserrat-14/Montserrat-v14-latin-regular.woff') format('woff');
//   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }

@font-face {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 400;
  src: url('./assets/font/montserrat-14/montserrat-v14-latin-regular.ttf');
}


head {
  display: none;
  -ms-overflow-style: scrollbar;
}

body {
  font: 14px "Montserrat Regular";
  background: $bg-back-color;
  color: #898989;
  overflow: auto;
  font-weight: 400;
}