<div class="section">
    <div class="container"><br>
        <h6>Independent Professionals</h6>
        <label for="goback"><span (click)="goBacktoWork()">Work-Package</span> / Search</label>
        <div class="card ">    
            <div class="card-body">
                    <form >
                        <div class="form-content">
                            <div class="row">
                                <div class="col-2">
                                        <select class="formStyle" formControlName="project-Id" id="project-Id">
                                            <option>Id</option>
                                            <!-- <option id="option_txt" *ngFor="let project-Id of projectIdArr" [value]="project-Id">{{project-Id}}</option> -->
                                        </select>
                                </div>
                                <div class="col-2">
                                     <input type="text" placeholder="Name">
                                </div>
                                <div class="col-2">
                                    <select class="formStyle"  id="projectId">
                                        <option>Domain</option>
                                        <!-- <option id="option_txt" *ngFor="let projectId of projectIdArr" [value]="projectId">{{projectId}}</option> -->
                                    </select>
                                </div>
                                <div class="col-2">
                                    <select class="formStyle"  id="projectId">
                                        <option>Skills</option>
                                        <!-- <option id="option_txt" *ngFor="let projectId of projectIdArr" [value]="projectId">{{projectId}}</option> -->
                                    </select>                                
                                </div>
                                <div class="col-2">
                                    <input type="text" placeholder="Location">
                                </div>
                                <div class="col-2">
                                    <input type="text" placeholder="Rate / Hour">
                                </div>
                                </div>
                         
                                <button class="btn viewprofile1">Search</button>

                        </div>
                    </form>
            </div>   
              
                
    </div>     

                    <table class="table table-hover table-dark table-custom spacing8">
                            <thead>
                              <tr>
                                <th scope="col">Project Id</th>
                                <th scope="col">Description</th>
                                <th scope="col">Skill Details</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Employer</th>
                                <th scope="col">Region</th>
                                <th scope="col">Budget</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody >
                              <tr>
                                <th scope="row" class="setwidth" ></th>
                                <td class="setwidth">
                                    <button class="btn viewprofile" >view</button>
                                </td>
                                <td class="setwidth"><button class="btn viewprofile" >view</button></td>
                                <td  class="setwidth"></td>
                                <td class="setwidth"></td>
                                <td class="setwidth"></td>
                                <td class="setwidthimg"><img class="img-circle" src="../../../../../../assets/images/12.jpg">  </td>
                                <td class="setwidth">td>
                                <td></td>
                                <td><button class="btn btn-accept">Accept</button><button class="btn btn-reject">Reject</button></td>
                              </tr>
                            </tbody>
                          </table>
    </div>
</div>
    