@import "../../../../../../assets/css/theme_colors";
     
/*-----------------------------------------------------------------------
      BASIC CSS
-------------------------------------------------------------------------*/

.section{
  font: 14px "Montserrat Regular";
  background-color: $bg-back-color;
  color: $text-color;
  font-weight: 400;
  height:auto;
  
}

// .container{
// max-width: 90% !important;
// }

p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

hr {
  box-sizing: content-box;
  height: 0;
  border-top: 1px solid rgba(255,255,255,0.1);
}


/*-----------------------------------------------------------------------
CARD CSS
-------------------------------------------------------------------------*/
.card {
    // width: 100%;
    // height: auto !important;
    margin-top: 0.8rem;
    float: none;
    border: 0px;
    background: $bg-front-color;
  }
  
  .img-center {
    transition: all 0.3s ease-in-out;
    margin: 0 auto;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }

  .top{
    margin-top:30px;
  }
  
  img {
    width: 5.0rem;
    height: 5.0rem;
    border-radius: 50%;
    border: 2px solid;
    padding: 3px;
    border-color: #064d86;
    margin-top: 4.5rem;
  }
  
  img:hover {
    border: 6px solid;
    border-color: #064d86;
  
  
  }
  
  label, h6{
    letter-spacing: $text-letter-spacing;
    font-weight: $text-font-weight;
  }

  .card-header {
    background: transparent !important;
    height: 5rem;
    letter-spacing: $text-letter-spacing;
    font-weight: $text-font-weight
  }
  
  .card-body {
    // width: 100%;
    border-radius: 3px;
    font-weight: 400;
    color: #a5a8ad;
    background: $bg-front-color;
    border-top: 1px solid rgba(255, 255, 255, 0.09);
    padding: 1rem !important;
    letter-spacing: $text-letter-spacing;
    font-weight: $text-font-weight
  }
  
  .text-muted {
    font-size: 0.9rem;
    color: #6c757d !important;
    float: left;
  }
  
  .text-muted1 {
    margin-top: 0.9rem;
    font-size: 0.9rem;
    color: #6c757d !important;
  }
  
  .text-muted2 {
    margin-top: none !important;
    font-size: 0.9rem;
    color: #a7aaad !important;
    margin-left: 0.6rem;
  }
  
  /*-----------------------------------------------------------------------
  FORM CSS
  -------------------------------------------------------------------------*/
  form {
    padding: 5px 5px 5px 5px;
  }
  
  .form-group {
    margin-bottom: 10px;
    position: relative;
  }
  
  //View Work Package 
  
  .viewprofile1 {
    font-size: 0.9rem;
    // color: #080000;
    // border-color: rgba(40, 150, 252, 0.966);
    // background: rgba(40, 174, 252, 0.966) !important;
    width: 10%;
    float: right;
    margin-left: 20px;
    font-weight: 550;
    margin-top: 1rem;
    background: $btn-bg-color;
  color: $btn-front-color !important;
  font-weight: $btn-font-weight;
  letter-spacing: $letter-spacing;
  border-radius: $btn-border-radius;
  }
  
  // .viewprofile1:hover {
  //   border-color: rgba(61, 116, 253, 0.966);
  // }
  
  
  .apply-skill {
    font-size: 0.7rem;
    color: #080808;
    border-color: rgba(127, 128, 129, 0.966);
    background: rgba(252, 202, 40, 0.966) !important;
    width: 100%;
    text-align: center;
  }
  
  .apply-button1 {
    font-size: 0.7rem;
    color: #ffffff;
    border-color: rgba(127, 128, 129, 0.966);
    background: transparent !important;
    width: 10%;
    margin-top: 1rem;
    text-align: center;
    margin-top: 20px;
    margin-left: 35rem;
    margin-bottom: 30px;
  }
  
  .apply-button1:hover {
    border-color: rgba(61, 116, 253, 0.966);
  }
  
  .options {
    font-size: 1rem;
    margin-top: 0.6rem;
  }
  
  .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
  }
  
  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:focus,
  .nav-tabs>li.active>a:hover {
    // color: #555;
    cursor: default;
    // border: 1px solid #ddd;
    border-bottom-color: transparent;
  }
  
  .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }
  
  a {
    color: #337ab7;
    text-decoration: none;
  }
  
  .apply-button {
    font-size: 0.7rem;
    color: #ffffff;
    border-color: rgba(127, 128, 129, 0.966);
    background: transparent !important;
    width: 30%;
    margin-top: 1rem;
    float: right;
  }
  
  .apply-button:hover {
    border-color: rgba(61, 116, 253, 0.966);
  }
  
  .viewprofile2 {
    font-size: 0.7rem;
    // color: #ffffff;
    // border-color: rgba(127, 128, 129, 0.966);
    // background: transparent !important;
    width: 30%;
    margin-top: 1rem;
    float: left;
    background: $btn-bg-color;
  color: $btn-front-color !important;
  font-weight: $btn-font-weight;
  letter-spacing: $letter-spacing;
  border-radius: $btn-border-radius;
  }
  
  // .viewprofile2:hover {
  //   border-color: rgba(61, 116, 253, 0.966);
  // }
  
  .viewprofile {
    font-size: 0.7rem;
    // color: #ffffff;
    // border-color: rgba(127, 128, 129, 0.966);
    // background: transparent !important;
    width: 70%;
    margin-top: 1rem;
    float: right;
    background: $btn-bg-color;
  color: $btn-front-color !important;
  font-weight: $btn-font-weight;
  letter-spacing: $letter-spacing;
  border-radius: $btn-border-radius;
  }
  
  // .viewprofile:hover {
  //   border-color: rgba(61, 116, 253, 0.966);
  // }
  
  .card-body h5 {
    text-align: center;
  }
  
  input,
  textarea,
  select {
    transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    padding-top: 10px;
    -webkit-appearance: none;
  }
  
  input:focus+.form-label,
  input:valid+.f orm-label,
  textarea:focus+.form-label,
  textarea:valid+.form-label,
  select:focus+.form-label {
    top: 1px;
    font-size: 11px;
    color: $blue-color;
    background: transparent !important;
  }
  
  input,
  select,
  textarea {
    box-sizing: border-box;
    display: block;
    border: none;
    font-family: "Montserrat Regular";;
    color: $text-color;
    background: transparent;
    border-bottom: 1px solid $text-color;
    padding: 4px 0;
    width: 100%;
    margin-top: 1rem;
  }
  
  input:focus,
  select:focus,
  textarea:focus {
    border-bottom: 1px solid $blue-color;
  }
  
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px transparent inset;
  }
  
  input::-webkit-input-placeholder {
    color: $text-color;
  }
  
  input::-moz-placeholder {
    color: $text-color;
  }
  
  input:-ms-input-placeholder {
    color: $text-color;
  }
  
  input:-moz-placeholder {
    color: $text-color;
  }
  
  
  input,
  select,
  textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0;
  }
  
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important;
  }
  
  input[type=checkbox] {
    appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    -ms-appearance: checkbox !important;
  }
  
  .table {
    margin-top: 30px;
    background: $bg-front-color;
  }
  
  tbody {
    color: #6c757d;
  }
  
  thead {
    color: #919292;
  }
  
  tr:hover {
    color: #c1c4c4 !important;
  }
  
  .table th,
  .table td {
    border-bottom: 10px solid #18191c !important;
  }
  
  .table .table-custom {
    border-collapse: separate !important;
  
  }
  
  .table .table-custom .spacing8 {
    border-spacing: 0px 8px !important;
  }
  
  .navi {
    color: rgb(10, 126, 221);
    font-size:0.8rem;
  }
  
  .center {
    text-align: center !important;
    font-family: "Bookman Old Style";
  }
  
  .img-center {
    transition: all 0.3s ease-in-out;
    margin-top: none !important;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
 
  
  .headinglable {
    margin-top: 2rem;
    color: #04afda;
  
  }
  
  .headinglable1 {
    margin-top: 1rem;
    color: #04afda;
  }
  
  .carousel-control-next,
  .carousel-control-prev {
    align-items: unset !important;
    width: unset !important;
  }
  
  .cardrow {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .zoom {
    transition: transform .3s;
    /* Animation */
  }
  
  .zoom:hover {
    transform: scale(1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  
  .ribbon {
    width: 100%;
    color: white;
    background: transparent !important;
  }
  
  .ribbon:nth-child(even) {
    margin-right: 4%;
  }
  
  @media (max-width: 500px) {
    .ribbon {
      width: 100%;
    }
  
    .ribbon:nth-child(even) {
      margin-right: 0%;
    }
  }
  
  .ribbon3 {
    width: 11rem;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    position: absolute;
    left: -8px;
    top: 20px;
    background: rgb(0, 66, 141);
  }
  
  .ribbon3:before,
  .ribbon3:after {
    content: "";
    position: absolute;
  }
  
  .ribbon3:before {
    height: 0;
    width: 0;
    top: -8.5px;
    left: 0.1px;
    border-bottom: 9px solid black;
    border-left: 9px solid transparent;
  }
  
  .ribbon3:after {
    height: 0;
    width: 0;
    right: -14.5px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 15px solid rgb(0, 66, 141);
  }
  
  .btnSearch {
    float: right;
    margin-top: 0.9rem;
    font-size: .8rem;
    color: rgb(58, 56, 56);
    background: rgb(221, 181, 3);
    font-weight: 600;
  }
  
  .modal-header,
  .modal-body,
  .modal-footer,
  .modal-content {
    background-color: #e6e6e6 !important;
    color: $bg-back-color;
  }
  
  .seth6 {
    margin-top: 1rem;
    float: left;
  }
  
  .setwidth {
    width: 7rem;
  }
  
  .setwidthimg {
    width: 13rem;
  }
  
  .btn-accept {
    font-size: 0.7rem;
    color: #ffffff;
    border-color: rgba(127, 128, 129, 0.966);
    background: green !important;
    width: 30%;
  }
  
  
  .btn-reject {
    font-size: 0.7rem;
    color: #ffffff;
    border-color: rgba(127, 128, 129, 0.966);
    background: rgb(252, 32, 3) !important;
    width: 30%;
    margin-left: 20px;
  }
  
  // .formStyle {
  //   background: $bg-front-color;
  // }
  
  h4 {
    margin-top: 20px;
    text-align: center;
  }

  label .checked{
    color: rgb(27, 223, 20);
    margin-left:0.3rem;
  }

  .givmargin{
    margin-left:0.3rem;
  }
  .ribbon {
    width: 100%;
    position: relative;
    float: left;
    background: url(https://html5book.ru/wp-content/uploads/2015/10/snow-road.jpg);
    background-size: cover;
    text-transform: uppercase;
    color: white;
  }

  .ribbon:nth-child(even) {
    margin-right: 4%;
  }
  @media (max-width: 500px) {
    .ribbon {
      width: 100%;
    }
    .ribbon:nth-child(even) {
      margin-right: 0%;
    }
  }


  .ribbon3 {
    width: 200px;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    position: absolute;
    left: -8px;
    top: 20px;
    background: rgb(45, 75, 121);
  }
  .ribbon3:before, .ribbon3:after {
    content: "";
    position: absolute;
  }
  .ribbon3:before {
    height: 0;
    width: 0;
    top: -8.5px;
    left: 0.1px;
    border-bottom: 9px solid black;
    border-left: 9px solid transparent;
  }
  .ribbon3:after {
    height: 0;
    width: 0;
    right: -14.5px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 15px solid  rgb(45, 75, 121);
  }

  .name{
    margin-top:2rem;
    color: $text-color;
    font: 16px "Montserrat Regular";
  }

  .email{
    color: $text-color;
    font: 14px "Montserrat Regular";
  }

  .leftcol{
    float: left;
  }

  .rightcol{
    float: right;
  }